table,caption,tbody,tfoot,thead,tr,th,td
	{
	border: 0pt none;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0pt;
	padding: 0pt;
}
/* Bubble pop-up */
.coda_bubble {
    position: relative;
    top: 0px;
    left: 0px;
    width:100px;
    text-align:left;
    float:left;
    padding-left:20px;
}
.popup {
    position: absolute;
    display: none;
    z-index: 495;
    border-collapse: collapse;
}

.popup td.corner {
    height: 15px;
    width: 19px;
}

.popup td.topleft { background-image: url(images/skins/classic/bubble-1.png); }
.popup td.top { background-image: url(images/skins/classic/bubble-2.png); }
.popup td.topright { background-image: url(images/skins/classic/bubble-3.png); }
.popup td.left { background-image: url(images/skins/classic/bubble-4.png); }
.popup td.right { background-image: url(images/skins/classic/bubble-5.png); }
.popup td.bottomleft { background-image: url(images/skins/classic/bubble-6.png); }
.popup td.bottom { background-image: url(images/skins/classic/bubble-7.png); text-align: center;}
.popup td.bottom img { display: block; margin: 0 auto; }
.popup td.bottomright { background-image: url(images/skins/classic/bubble-8.png); }

.popup table.popup-contents {
    font-size: 12px;
    line-height: 1.2em;
    background-color: #fff;
    color: #666;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
    
}

table.popup-contents th {
    text-align: right;
    text-transform: lowercase;
}

table.popup-contents td {
   text-align: left;
}
.popup td.bubble_content {
   background:white;
   font-family: "Trebuchet MS",  sans-serif;
   font-size:11px;
   padding:10px;
}
.trigger{
	font-family: "verdana", arial, sans-serif;
	font-size:12px;
}