#ibody{width:1000px; margin:0 auto; line-height:0; font-size:12px; margin-top:0px;}

li{font-size:12px; line-height:24px; list-style-position:outside; background:url(/images/html/list/tar-1.jpg) no-repeat 1% 50%;  list-style-type:none;}

li a:link{color:#003A7B; text-decoration:none;}
li a:visited{color:#003A7B; text-decoration:none;}
#content1 li a:link{color:#003A7B; }
#content1 li a:visited{color:#003A7B; }
.left-div4-text li{width:309px; height:20px; line-height:20px; overflow:hidden; float:left; display:inline;}
#right-text3 li{line-height:20px;}
#left-div2 a:link{color:#003899; text-decoration:underline;}
#left-div2 a:visited{color:#003899; text-decoration:underline;}
#left-title2 li{background:url(/images/html/list/tar3.jpg) no-repeat 1% 50%;}
content1 a:link{color:#003A7B;}
content1 a:visited{color:#003A7B;}
#more3 a:link{color:#003899;}
#more3 a:visited{color:#003899;}
#title1 a:link{text-decoration:none;}
#title1 a:visited{text-decoration:none;}


#cyindex{width:72px; height:19px; cursor:pointer; margin-top:14px; float:left; display:inline;}
#cytitle{width:494px; height:20px; margin-top:17px; margin-left:20px; line-height:20px; float:left; display:inline;}
#cytitle a{color:#246bb0; text-decoration:none;}
#cyline{width:1000px; height:8px; margin-top:1px; background:url('/images/tyzl/tyzl_line.jpg') no-repeat; overflow:hidden; float:left; display:inline;}
#top1{width:992px; height:504px; margin-left:10px; float:left; display:inline;}

#left-div1{width:352px; height:201px; background-color:#F4F4F4; margin-top:1px; float:left; display:inline;}
#left-div2{width:330px; height:30px; font-size:20px; font-weight:bold; color:#003899; font-family:微软雅黑; line-height:30px; margin-top:10px; margin-left:15px; float:left; display:inline;}
.left-div4-2{width:309px; margin-top:10px; text-indent:10px; margin-left:29px; float:left; display:inline;}
.left-div4-text{width:309px; height:72px; margin-top:5px;  float:left; display:inline; }
.left-div4-text1{width:194px; height:80px; margin-left:12px; margin-top:10px; float:left; display:inline; }
.left-div4-text1-1{width:194px; height:23px; font-size:13px; font-weight:bold; text-indent:0px; float:left; display:inline; }
.left-div4-text1-2{width:194px; height:55px; font-size:12px; color:#666666; text-indent:0px; overflow:hidden; float:left; display:inline; }

#right-div1{width:339px; height:357px;margin-top:17px; margin-right:2px; background-image:url(/images/html/list/right-div1.jpg); float:right; display:inline;}
.right-div1-1{width:322px; height:103px; margin-top:10px; margin-left:12px; float:left; display:inline;}
#right-div1-2{width:337px; height:100px; margin-left:1px; background-color:#F4F4F4; float:left; display:inline;}
#right-div2{width:294px; height:345px; margin-top:13px; margin-left:20px; background-image:url(/images/html/list/right-div2.jpg); float:right; display:inline;}
#right-div3{width:294px; height:196px; margin-top:13px; margin-left:20px; background-image:url(/images/html/list/right-div3.jpg); float:right; display:inline;}

.right-text1{width:180px; height:18px; font-size:16px; color:#003A7B; font-weight:bold; margin-left:10px; float:left; display:inline;}
.right-text2{width:210px; height:72px; font-size:12px; color:#666666; line-height:25px; margin-top:5px; margin-left:10px; float:left; display:inline;}
#right-text3{width:306px; height:92px; font-size:12px; color:#333333; text-indent:1em; margin-top:10px; margin-left:23px; float:left; display:inline; }
.right-text4{width:280px; height:20px; font-size:13px; color:#11579E; line-height:20px; margin-top:15px; margin-left:16px; float:left; display:inline;}
#right-text5{width:190px; height:60px; font-size:12px; color:#666666; float:left; display:inline;}

#left-title1{width:330px; height:50px; font-size:12px; line-height:25px; margin-top:10px; margin-left:15px; float:left; display:inline;}
#left-title2{width:220px; height:75px; font-size:14px; color:#FFFFFF; line-height:28px; text-indent:15px; margin-left:10px; float:left; display:inline;}


#left_box{width:679px; height:190px; margin-top:30px; float:left; display:inline;}
.left_title{width:600px; height:20px; font-size:14px; color:#666666; font-weight:bold; line-height:20px; text-indent:20px; background:url(/images/html/list/tar2.jpg) no-repeat 0 5px; float:left; display:inline;}
.left_title .title_name{width:85px; height:20px; float:left; display;inline;}
.more2{width:43px; height:10px; margin-left:10px; margin-top:4px; border-left:1px solid #666666; float:left; display:inline; }
.more2 img{ margin-left:10px; float:left; display:inline; }
.left_pbox{width:96px; height:125px; margin-left:32px; margin-top:17px; float:left; display:inline;}
.left_ptitle{width:96px; height:20px; line-height:20px; font-size:12px; color:#333333; text-align:center; margin-top:10px; float:left; display:inline;}
.left_ptitle a{color:#003A7B; text-decoration:none;}
.picture3{width:94px; height:94px; padding:1px; font-size:0; background:none; border:1px solid #CCCCCC; float:left; display:inline;}
.dash{width:676px; height:1px; font-size:0; line-height:0; background:url(/images/html/news/dash4.gif) repeat-x; float:left; display:inline;}

#left_list{width:679px; margin-top:25px; float:left; display:inline;}
.list_list{width:300px; height:600px; float:left; display:inline;}
.list_box{width:300px; height:140px; margin-top:20px; float:left; display:inline;}
.list_title{width:300px; height:20px; font-size:14px; color:#003A7B; font-weight:bold; line-height:20px; float:left; display:inline;}
.list_title .title{width:40px; height:20px; float:left; display:inline;}
.list_title .title_line{width:240px; height:8px; margin-left:5px; margin-top:7px; line-height:0; font-size:0; background:#E5E5E5; float:left; display:inline;}
.list_li_box{width:300px; height:100px; margin-top:10px; line-height:20px; float:left; display:inline;}
.list_li_box li{width:290px; height:20px; margin-top:6px; overflow:hidden; font-size:14px; padding-left:10px; background:url(/images/html/list/tar.gif) no-repeat 0 10px; float:left; display:inline;}

#line2{width:1px; height:670px; margin-left:20px; margin-right:40px; margin-top:5px; background:url(/images/html/news/dash5.gif) repeat-y; float:left; display:inline;}



.right-title1{width:294px; height:30px; font-size:14px; color:#003A7B; line-height:30px; text-indent:1em; font-weight:bold; float:left; display:inline;}
.right-title2{width:294px; height:30px; font-size:14px; color:#999999; line-height:30px; text-indent:1em; font-weight:bold; background-image:url(/images/html/list/right-title2.jpg); float:left; display:inline;}
.right-title3{width:294px; height:30px; font-size:14px; color:#003A7B; line-height:30px; text-indent:1em; font-weight:bold; background-image:url(/images/html/list/right-title3.jpg); float:left; display:inline;}
#right-title4{width:294px; height:30px; font-size:14px; color:#999999; line-height:30px; text-indent:1em; font-weight:bold; margin-top:3px; background-image:url(/images/html/list/right-title2.jpg); float:left; display:inline;}
#right-title5{width:294px; height:28px; font-size:14px; color:#75A9D3; line-height:30px; text-indent:0.7em; font-weight:bold; margin-left:1px; margin-top:1px; border-bottom-style:solid; border-bottom-width:1px; border-color:#DFDFDF; float:left; display:inline;}

#more{width:42px; height:16px; font-size:12px; margin-top:7px; line-height:16px; margin-right:16px; float:right; display:inline; }
.more1{font-size:10px; color:#003A7B; font-weight:normal; margin-right:7px; float:right; display:inline;}
#more3{width:55px; height:24px; font-size:12px; margin-left:40px; margin-top:50px; float:left; display:inline;}

#content1{width:240px; height:268px; text-indent:10px; margin-top:12px; margin-left:10px; float:left; display:inline;}



#ul1{width:278px; height:116px; font-size:12px; text-indent:10px; line-height:25px; margin-top:5px; margin-left:20px; float:left; display:inline; }
#ul2{width:250px; height:116px; font-size:12px; text-indent:10px; line-height:25px; margin-top:5px; margin-left:60px; float:left; display:inline; }
.ul3{width:150px; height:100px; font-size:12px; text-indent:10px; line-height:25px; margin-left:10px; float:left; display:inline;}


#t_l_t{width:670px; height:200px; margin-top:10px; padding:1px; border:1px solid #e1e9f0; float:left; display:inline;}
#t_l_t_t{width:670px; height:200px; background:#f4f4f4; float:left; display:inline;}
.headline_pic{float:left; display:inline;}
#t_l_t_t_r{width:361px; height:200px; margin-top:1px; float:right; display:inline;}
.headline_title{width:351px; height:28px; margin-top:16px; line-height:28px; overflow:hidden; float:left; display:inline;}
.headline_title a{color:#003399; font-size:24px; font-family:微软雅黑,黑体; font-weight:bold;  text-decoration:none;}
.headline_title a:hover{color:#94000B;}
.headline_description{width:351px; height:45px; margin-top:10px; margin-left:2px; margin-bottom:8px; line-height:24px; font-size:14px; overflow:hidden; float:left; display:inline;}

.headline_related{width:230px; height:80px; float:left; display:inline;}
#t_l_t_t_r .cl{width:224px; height:24px; padding-left:13px; line-height:22px; background:url(/images/index/yuan.jpg) no-repeat 0 8px; overflow:hidden; float:left; display:inline;}
#t_l_t_t_r .cl a{color:#003399; font-size:14px; text-decoration:none;}
#t_l_t_t_r .cl a:hover{color:#94000B;}

#t_l_t_t_r #more{width:60px; height:20px; margin-top:50px; float:right; display:inline;}
#t_l_t_t_r #more a{color:#003399;}
#t_l_t_t_r #btn{width:115px; height:14px; margin-top:3px; margin-right:10px; float:right; display:inline;}
#t_l_t_t_r #btn .headline_btn1{width:14px; height:14px; margin-left:5px; float:left; display:inline; cursor:pointer;}
#t_l_t_t_r #btn .headline_btn2{width:14px; height:14px; margin-left:5px; float:left; display:inline; cursor:pointer;}

#t_l_t_b{width:680px; height:123px; background:url('/images/index/t_l_t.jpg'); float:left; display:inline; }
#line{width:1000px; height:10px; background-image:url(/images/html/list/line.jpg); float:left; display:inline;}
#line1{width:240px; height:8px; margin-top:10px; margin-right:25px; background-image:url(/images/html/list/line1.jpg); float:right; display:inline;}
#picture1{width:355px; height:267px; margin-top:12px; margin-left:12px; background-image:url(/images/html/list/picture1.jpg); float:left; display:inline; }
.picture2{width:91px; height:91px; background-image:url(/images/html/list/picture2.jpg); border-style:solid; border-width:1ps; border-color:#E9E9E9; float:left; display:inline;}
.picture4{width:72px; height:72px; margin-top:13px; margin-left:6px; float:left; display:inline;}
.picture4 img{width:72px; height:72px;}
#tar1{width:25px; height:12px; margin-top:10px; margin-right:18px; background-image:url(/images/html/list/tar1.jpg); float:right; display:inline;}
#radio{width:70px; height:20px; margin-left:10px; margin-bottom:10px; font-size:12px; color:#666666; float:left; display:inline;}
.radio1{font-weight:normal; margin-top:10px; margin-left:12px; float:left; display:inline;}
#button{width:52px; height:20px; border:0px; background-image:url(/images/html/list/button.jpg); float:left; display:inline;}

#page{width:330px; height:22px; margin-left:10px; float:left; display:inline;}
#page .prev{width:15px; height:14px; margin-left:210px; margin-top:10px; background-image:url(/images/html/list/prev.jpg); float:left; display:inline;}
#page .num{width:14px; height:14px; margin-left:5px; margin-top:10px; background-image:url(/images/html/list/num.jpg); float:left; display:inline;}
#page .selected{width:14px; height:14px; margin-left:5px; margin-top:10px; background-image:url(/images/html/list/selected.jpg); float:left; display:inline;}
#page .next{width:14px; height:14px; margin-left:5px; margin-top:10px; background-image:url(/images/html/list/next.jpg); float:left; display:inline;}


#left{width:680px;float:left; display:inline;}
