body {font-size:12px;  font-family:Arial,宋体; color:#000;  margin:0 auto; padding:0;}
p{padding:0; margin:0}

#ibody{width:1000px; margin:0 auto;}

#t_l_t{width:680px; height:323px; margin-top:10px; padding:1px; border:1px solid #e1e9f0; float:left; display:inline;}
#t_l_t_t{width:680px; height:200px; background:#f4f4f4; float:left; display:inline;}
.head_pic{float:left; display:inline;}
#head_pic2{width:72px; height:200px; margin-left:-72px; background:url(/images/index/head.png) no-repeat; float:left; display:inline;}

#t_l_t_t_r{width:361px; height:200px; margin-top:1px; float:right; display:inline;}
.head_title{width:351px; height:28px; margin-top:16px; line-height:28px; overflow:hidden; float:left; display:inline;}
.head_title a{color:#003399; font-size:24px; font-family:微软雅黑,黑体; font-weight:bold;  text-decoration:none;}
.head_title a:hover{color:#94000B;}
.head_content{width:351px; height:45px; margin-top:10px; margin-left:2px; margin-bottom:8px; line-height:24px; font-size:14px; overflow:hidden; float:left; display:inline;}

.head_related{width:230px; height:80px; float:left; display:inline;}

#t_l_t_t_r .cl{width:224px; height:24px; padding-left:13px; line-height:22px; background:url(/images/index/yuan.jpg) no-repeat 0 8px; overflow:hidden; float:left; display:inline;}
#t_l_t_t_r .cl a{color:#003399; font-size:14px; text-decoration:none;}
#t_l_t_t_r .cl a:hover{color:#94000B;}

#t_l_t_t_r #more{width:60px; height:20px; margin-top:50px; float:right; display:inline;}
#t_l_t_t_r #more a{color:#003399;}
#t_l_t_t_r #btn{width:115px; height:14px; margin-top:3px; margin-right:10px; float:right; display:inline;}
#t_l_t_t_r #btn .head_btn1{width:14px; height:14px; margin-left:5px; float:left; display:inline; cursor:pointer;}
#t_l_t_t_r #btn .head_btn2{width:14px; height:14px; margin-left:5px; float:left; display:inline; cursor:pointer;}

#t_l_t_b{width:680px; height:123px; background:url('/images/index/t_l_t.jpg'); float:left; display:inline; }

#t_l_t_l{width:325px; float:left; display:inline;}
#t_l_t_l #title{width:270px;; height:20px; margin-top:10px; margin-left:10px; line-height:20px; float:left; display:inline;}
#t_l_t_l #title a{color:#003399; font-size:14px; font-weight:bold; text-decoration:none;}
#t_l_t_l a{color:#2555a7; font-size:14px; text-decoration:none;}
#t_l_t_l .content{width:238px; height:18px; margin-top:5px; margin-left:10px; padding-left:18px; background:url(/images/index/arrow1.png) no-repeat 0 7px; line-height:20px; overflow:hidden; float:left; display:inline;}
#t_l_t_l .content a:hover{color:#94000B;}

#t_l_t_l #coffee{width:50px; height:34px; margin-top:-5px; background-image:url(/images/index/coffee.png)!important; background-image:none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=image, src="/images/index/coffee.png"); float:left; display:inline;}

#t_l_t_r{width:351px; float:right; display:inline;}
#t_l_t_r #left{width:5px; height:99px; margin-left:10px; float:left; display:inline;}
#t_l_t_r #left img{margin-top:45px;}
#t_l_t_r #right{width:5px; height:99px; margin-right:15px; float:right; display:inline;}
#t_l_t_r #right img{margin-top:45px;}
#t_l_t_r .content{width:74px; height:99px; margin-top:15px; margin-left:15px; margin-right:10px; line-height:16px; float:left; display:inline;}
#t_l_t_r .content .pic{width:72px; height:72px; border:1px solid #CCCCCC; float:left; display:inline;}
#t_l_t_r .content .pic img{width:70px; height:70px; margin:1px;}
#t_l_t_r .content .cl{width:74px; height:16px; margin-top:9px; line-height:16px; overflow:hidden; float:left; display:inline;}
#t_l_t_r .content .cl a{color:#003899; text-decoration:none;}
#t_r_t{width:300px; margin-top:10px; float:right; display:inline;}
#t_r_t .title{width:75px; height:26px; line-height:26px; font-size:13px; color:#003399; background:url('/images/index/t_r_t_title.jpg') no-repeat; text-align:center; float:left; display:inline;}
#t_r_t #ph{width:300px; height:23px; line-height:23px; border-top:2px solid #666666; border-bottom:1px solid #666666; overflow:hidden; float:left; display:inline;}
#t_r_t #phb{width:300px; float:left; display:inline;}
#t_r_t #phname{width:300px; height:250px; background:url('/images/index/t_r_t_ph.jpg') no-repeat; float:left; display:inline;}
#t_r_t #phname .content{width:300px; height:24px; line-height:24px; color:#666666; border-bottom:1px solid #CCCCCC; float:left; display:inline;}
#t_r_t #phname .content a{margin-left:50px; color:#0033CC; text-decoration:none;}
#t_r_t #bottom{width:300px; height:77px; margin-top:2px; background:#f7f7f7; float:left; display:inline;}
#t_r_t #bottom #title{width:280px; height:18px; margin-top:10px; margin-left:10px; color:#333333; font-size:14px; font-weight:bold; line-height:18px; float:left; display:inline;}
#t_r_t #bottom .content{width:280px; height:16px; margin-top:5px; margin-left:10px; line-height:16px; overflow:hidden; float:left; display:inline;}
#t_r_t #bottom .content a{color:#666666; text-decoration:none;}
.c_l{width:330px; margin-top:10px; margin-left:5px; float:left; display:inline;}
.c_l .title{width:320px; height:28px; color:#666666; font-weight:bold; float:left; display:inline;}
.c_l .title .t_pic{width:8px; height:8px; margin-top:10px; float:left; display:inline;}
.c_l .title .wz{height:18px; margin-top:5px; margin-left:10px; line-height:18px; font-size:14px;  float:left; display:inline;}
.c_l .title .line{width:1px; height:10px; margin-top:9px; margin-left:10px; font-size:10px; line-height:10px; float:left; display:inline;}
.c_l .title .more{width:38px; height:8px; margin-top:10px; margin-left:10px; line-height:8px; font-size:8px; float:left; display:inline;}
.c_l .title .more a{color:#666666;  text-decoration:none;}
.c_l .content1{width:320px; float:left; display:inline;}
.c_l .content2{width:320px; float:left; display:inline;}
.c_l #left{width:5px; height:87px; margin-top:10px; float:left; display:inline;}
.c_l #left img{margin-top:41px;}
.c_l #right{width:5px; height:87px; margin-top:10px; float:right; display:inline;}
.c_l #right img{margin-top:41px;}
.c_l .content{width:87px; height:110px; margin-top:10px; margin-left:9px; float:left; display:inline;}
.c_l .content .cpic{width:87px; height:87px; border:1px solid #CCCCCC; float:left; display:inline;}
.c_l .content .cpic img{width:85px; height:85px; margin:1px;}
.c_l .content .ccl{width:87px; height:16px; margin-top:9px; line-height:16px; overflow:hidden; float:left; display:inline;}
.c_l .content .ccl a{color:#003899; text-decoration:none;}
.c_l .pic{width:72px; height:72px; border:1px solid #CCCCCC; float:left; display:inline;}
.c_l .pic img{width:70px; height:70px; margin:1px;}
.c_l .piccontent{width:320px; height:74px; margin-top:10px; margin-left:10px; float:left; display:inline;}
.c_l .piccontent .p_title{width:228px; height:24px; line-height:24px; overflow:hidden; float:left; display:inline;}
.c_l .piccontent .p_title a{font-size:20px; color:#003899; font-weight:bold; font-family:黑体; text-decoration:none;}
.c_l .piccontent .p_content{width:228px; height:40px; margin-top:10px; line-height:20px; overflow:hidden; float:left; display:inline;}
.c_l .piccontent .p_content a{color:#666666; text-decoration:none;}
.c_l .piccontent1{width:310px; height:100px; line-height:25px; overflow:hidden; float:left; display:inline;}
.c_l .piccontent1 a{color:#666666; text-decoration:none;}
.c_l .content3{width:320px; margin-top:10px;  margin-left:10px; float:left; display:inline;}
.c_l .content3 #content3_title{width:320px; height:24px; margin-bottom:10px; line-height:24px; float:left; display:inline;}
.c_l .content3 #content3_title a{color:#003399; font-size:20px; font-weight:bold; font-family:黑体; text-decoration:none;}
.c_l .image{width:150px; height:130px; float:left; display:inline;}
.c_l .image img{width:150px; height:130px;}
.c_l .image_content{width:135px; height:130px; margin-left:5px; line-height:20px; float:left; display:inline;}
.c_l .image_content .image_title{width:135px; height:20px; line-height:20px; font-size:16px; font-weight:bold; font-family:黑体; overflow:hidden; float:left; display:inline;}
.c_l .image_content .image_title a{color:#000000; text-decoration:none;}
.c_l .image_content .image_context{width:135px; height:100px; margin-top:10px; line-height:20px; overflow:hidden; float:left; display:inline;}
.c_l .image_content .image_context a{color:#666666; text-decoration:none;}

.c_l .cl{width:300px; height:16px; margin-top:7px; margin-left:10px; line-height:16px; float:left; display:inline;}
.c_l .cl img{width:4px; height:4px; margin-top:6px; float:left; display:inline;}
.c_l .cl a{font-size:14px; color:#003899; text-decoration:none;}
.c_l #ck{width:150px; height:20px; margin-top:10px; line-height:20px; text-align:right; float:right; display:inline;}
.c_l #ck a{color:#256cb1; text-decoration:none;}
.c_l .dash{width:320px; height:1px; margin-top:10px; margin-left:10px; background:url('/images/index/dashed.jpg') no-repeat; float:left;display:inline;}
.c_l .cltitle{width:300px; height:24px; margin-top:10px; margin-left:10px; line-height:24px; float:left; display:inline;}
.c_l .cltitle a{color:#000066; font-size:20px; font-weight:bold; font-family:黑体; text-decoration:none;}
.c_l .context{width:295px; height:38px; margin-top:11px; margin-left:13px; line-height:19px; float:left; display:inline;}
.c_l .context a{color:#003899; font-size:12px; text-decoration:none;}
.c_l .context1{width:295px; height:16px; line-height:16px; margin-left:13px; color:#999999; float:left; display:inline;}
.c_l .context1 a{color:#999999; text-decoration:none;}
.c_l .context2{width:59px; height:93px; margin-top:10px; margin-left:15px; float:left; display:inline;}
.c_l .context2 .c_context_t{width:57px; height:57px; border:1px solid #cccccc; float:left; display:inline;}
.c_l .context2 .c_context_t img{width:55px; height:55px; margin:1px;}
.c_l .context2 .c_context_b{width:59px; height:35px; text-align:center; line-height:17px; background:#dfdfdf; overflow:hidden; float:left; display:inline;}
.c_l .context2 .c_context_b a{color:#003399; text-decoration:none;}
#c_r{width:300px; margin-top:5px; float:right; display:inline;}
#c_r #gg{width:300px; height:77px; background:#f1f1f1;  float:left; display:inline;}
#c_r #gg #gg_t{width:278px; height:20px; margin-top:10px; margin-left:11px; line-height:20px; float:left; display:inline;}
#c_r #gg #gg_t_l{width:100px; height:20px;  line-height:20px; overflow:hidden; float:left; display:inline;}
#c_r #gg #gg_t_l a{color:#990000; font-size:14px; font-weight:bold; text-decoration:none;}
#c_r #gg #gg_t_r{width:164px; height:20px; line-height:20px; overflow:hidden; float:right; display:inline;}
#c_r #gg #gg_t_r a{color:#003399; text-decoration:underline;}
#c_r #gg #gg_b_l{width:100px; height:24px; margin-top:10px; margin-left:50px; line-height:24px; float:left; display:inline;}
#c_r #gg #gg_b_l a{font-size:20px; font-weight:bold; font-family:黑体; color:#003399;}
#c_r #gg #gg_b_r{width:132px; height:20px; margin-top:12px; line-height:20px; float:right; display:inline;}
#c_r #gg #gg_b_r a{font-size:16px; font-weight:bold; color:#003399;}
#c_r_t{width:300px; height:205px; margin-top:5px; float:right; display:inline;}
#c_r_t #title{width:298px; height:28px; border:1px solid #dfdfdf; background:url('/images/index/c_r_t_title.jpg') repeat-x; float:left; display:inline;}
#c_r_t #title #wz{width:100px; height:18px; margin-top:6px; color:#999999; margin-left:10px; line-height:18px; font-size:14px; font-weight:bold; float:left; display:inline;}
#c_r_t #title #more{width:19px; height:9px; margin-top:10px; margin-right:10px; line-height:18px; float:right; display:inline;}
#c_r_t #c_r_t_left{width:3px; height:175px; background:url('/images/index/c_r_t_left.gif') no-repeat; float:left; display:inline;}
#c_r_t #c_r_t_right{width:3px; height:175px; background:url('/images/index/c_r_t_right.gif') no-repeat; float:right; display:inline;}
#c_r_t #c_r_t_content{width:294px; height:175px; color:#999999; border-bottom:1px solid #dfdfdf; line-height:20px; overflow:hidden; float:left; display:inline;}
#c_r_t #c_r_t_content #images{width:260px; height:90px; margin-top:10px; margin-left:17px; float:left; display:inline;}
#c_r_t #c_r_t_content #context{width:260px; height:40px; margin-left:20px; line-height:20px; float:left; display:inline;}
#c_r_t #c_r_t_content #address{width:170px; height:20px; margin-top:5px; margin-left:20px; color:#999999; line-height:20px; float:left; display:inline;}
#c_r_t #c_r_t_content #info{width:50px; height:20px; margin-top:5px; margin-right:23px; line-height:20px; float:right; display:inline;}
#c_r_t #c_r_t_content #info a{color:#3399CC;}
.c_r_m{width:300px; height:151px; margin-top:10px; float:right; display:inline;}
.c_r_m .c_r_m_left{width:3px; height:151px; background:url('/images/index/c_r_m_left.gif') no-repeat; float:left; display:inline;}
.c_r_m .c_r_m_content{width:294px; height:151px; background:url('/images/index/c_r_m_content_bg.jpg') repeat-x; float:left; display:inline;}
.c_r_m .c_r_m_right{width:3px; height:151px; background:url('/images/index/c_r_m_right.gif') no-repeat;  float:right; display:inline;}
.c_r_m_t{width:280px; height:121px; margin-left:7px; border-bottom:1px dashed #999999; float:left; display:inline;}
.c_r_m_t .title{width:280px; height:18px; margin-top:10px; color:#999999; line-height:18px; font-size:14px; font-weight:bold; float:left; display:inline;}
.c_r_m_t .content{width:280px; height:74px; margin-top:10px; float:left; display:inline;}
.c_r_m_t .content a{color:#666666; text-decoration:none;}
.c_r_m_t .content .pic{width:72px; height:72px; border:1px solid #CCCCCC; float:left; display:inline;}
.c_r_m_t .content .pic img{width:70px; height:70px; margin:1px;}
.c_r_m_t .content .pictitle{width:185px; height:16px; line-height:16px; float:right; display:inline;}
.c_r_m_t .content .pictitle a{font-weight:bold; color:#333399;}
.c_r_m_t .content .piccontent{width:185px; height:52px; margin-top:5px; line-height:17px; float:right; display:inline;}
.c_r_m_b{width:280px; height:30px; line-height:30px; margin-left:9px; float:left; display:inline;}
.c_r_m_b_l{width:140px; height:30px; overflow:hidden; float:left; display:inline;}
.c_r_m_b_r{width:140px; height:30px; overflow:hidden; float:right; display:inline;}
.c_r_m_b .image{width:17px; height:20px; margin-top:5px; margin-right:5px; float:left; display:inline;}
.c_r_m_b a{color:#0033CC}

.c_r_img{width:644px; height:95px; margin-top:10px;  float:right; display:inline;}
.c_b_t{width:320px; margin-top:20px; margin-left:15px; float:left; display:inline;}
.c_b_t .title{width:320px; height:28px; color:#666666; font-weight:bold; float:left; display:inline;}
.c_b_t .title .t_pic{width:8px; height:8px; margin-top:10px; float:left; display:inline;}
.c_b_t .title .wz{height:18px; margin-top:5px; margin-left:10px; line-height:18px; font-size:14px;  float:left; display:inline;}
.c_b_t .title .line{width:1px; height:10px; margin-top:7px; margin-left:10px; font-size:10px; line-height:10px; float:left; display:inline;}
.c_b_t .title .more{width:50px; height:16px; margin-top:6px; margin-left:10px; line-height:16px;  float:left; display:inline;}
.c_b_t .title .more a{color:#666666; font-weight:normal; text-decoration:none;}
.c_b_t .content{width:320px; height;21px; float:left; display:inline;}
.c_b_t .content .cl{width:300px; height:21px; margin-top:5px; margin-left:10px; line-height:21px; float:left; display:inline;}
.c_b_t .content .cl a{color:#003399; font-size:14px; text-decoration:none;}
.c_b_t .dash{width:320px; height:1px; margin-top:20px; background:url('/images/index/dashed.jpg') no-repeat; float:left;display:inline;}
#l_b{width:363px; margin-top:5px; padding-bottom:1px; border:1px solid #cccccc; float:left; display:inline;}
#l_b .title{width:363px; height:28px; background:url('/images/index/l_b_title.jpg') no-repeat; float:left; display:inline;}
#l_b .title #wz{width:200px; height:18px; margin-top:6px; margin-left:40px; line-height:18px; color:#6699CC; font-size:14px; font-weight:bold; float:left; display:inline;}
#l_b .title #more{width:19px; height:9px; margin-top:10px; margin-right:10px; line-height:18px; float:right; display:inline;}
#r_b_t{width:300px; height:236px; margin-top:5px; float:right; display:inline;}
#r_b_t_left{width:3px; height:206px; background:url('/images/index/r_b_t_left.gif') no-repeat; float:left; display:inline;}
#r_b_t_right{width:3px; height:206px; background:url('/images/index/r_b_t_right.gif') no-repeat; float:left; display:inline;}
#r_b_t .title{width:298px; height:28px; border:1px solid #dfdfdf; background:url('/images/index/r_b_t_title.jpg') repeat-x; float:left; display:inline;}
#r_b_t .title #wz{width:100px; height:18px; margin-top:6px; margin-left:10px; line-height:18px; color:#999999; font-size:14px; font-weight:bold; float:left; display:inline;}
#r_b_t .title #more{width:19px; height:9px; margin-top:10px; margin-right:10px; line-height:18px; float:right; display:inline;}
#r_b_t_content{width:294px; height:205px; border-bottom:1px solid #dfdfdf; float:left; display:inline;}
#r_b_t .r_b_t_context{width:270px; height:85px; margin-top:5px; padding-top:5px; padding-left:5px; line-height:18px; margin-left:7px; overflow:hidden; float:left; display:inline;}
#r_b_t .r_b_t_context a{color:#666666; text-decoration:none;}
#r_b_t .r_b_t_context button{margin-top:5px; margin-right:5px; float:right; display:inline;}
#r_b_t #r_b_t_dash{width:270px; height:1px; margin-left:12px; background:url('/images/index/b_r_t_dash.jpg') no-repeat; float:left; display:inline;}
#r_b_b{width:298px; height:285px; border:1px solid #dfdfdf; margin-top:5px; float:right; display:inline;}
#r_b_b .title{width:298px; height:28px; border-bottom:1px solid #dfdfdf; background:url('/images/index/r_b_b_title.jpg') repeat-x; float:left; display:inline;}
#r_b_b .title #wz{width:100px; height:18px; margin-top:6px; margin-left:10px; line-height:18px; color:#999999; font-size:14px; font-weight:bold; float:left; display:inline;}
#r_b_b .title #more{width:19px; height:9px; margin-top:10px; margin-right:10px; line-height:18px; float:right; display:inline;}
#r_b_b .content{width:270px; height:127px; margin-top:15px; margin-left:14px; float:left; display:inline;}
#r_b_b .content .pic{width:88px; height:114px; border:1px solid #cccccc; float:left; display:inline;}
#r_b_b .content .pic img{width:86px; height:112px; margin:1px;}
#r_b_b .content .piccontent{width:170px; height:116px; overflow:hidden; float:right; display:inline;}
#r_b_b .content .pictitle{width:170px; height:20px; color:#3399CC; font-weight:bold; overflow:hidden; float:left; display:inline;}
#r_b_b .content .context{width:170px; height:96px; line-height:25px; float:left; display:inline;}
#r_b_b #r_b_b_dash{width:270px; height:1px; margin-left:12px; background:url('/images/index/b_r_t_dash.jpg') no-repeat; float:left; display:inline;}
#r_b_b #search{width:202px; height:20px;  margin-left:12px; line-height:20px; color:#0066CC; font-weight:bold; float:left; display:inline;}
#r_b_b #sel{width:202px; height:20px; margin-top:5px; margin-left:12px; float:left; display:inline;}
#r_b_b #sel select{width:95px; height:20px;}
#r_b_b #btnonline{width:66px; height:22px; margin-top:10px; margin-left:20px; border:0px; background:url('/images/index/readonline.jpg') no-repeat; float:left; display:inline;}
#r_b_b #sq{width:66px; height:22px; margin-top:10px; margin-left:20px; border:0px; background:url('/images/index/sqread.jpg') no-repeat; float:left; display:inline;}
#r_b_b #ck{width:200px; height:20px; margin-right:10px; line-height:20px; text-align:right; float:right; display:inline;}
#r_b_b #ck a{color:#666666; font-weight:bold;}
