body {font-size:12px;  font-family:宋体,Arial; color:#000000; margin:0; margin:0 auto; padding:0;}
p{padding:0; margin:0}
ul{padding:0; margin:0}

#ibody{width:1000px; margin:0 auto;}

#forbes_tlt{width:680px; height:323px; margin-top:10px; padding:1px; border:1px solid #e1e9f0; overflow:hidden; float:left; display:inline;}

#headline{width:680px; height:200px; background:#f4f4f4; overflow:hidden; float:left; display:inline;}
.headline_pic{float:left; display:inline;}
#headline_content{width:361px; height:200px; margin-top:1px;  overflow:hidden; float:right; display:inline;}
.headline_title{width:351px; height:28px; margin-top:16px; line-height:28px; overflow:hidden; float:left; display:inline;}
.headline_title a{color:#003399; font-size:24px; font-family:微软雅黑,黑体; font-weight:bold;  text-decoration:none;}
.headline_title a:hover{color:#94000B;}
.headline_description{width:351px; height:45px; margin-top:10px; margin-left:2px; margin-bottom:8px; line-height:24px; font-size:14px; overflow:hidden; float:left; display:inline;}
.headline_related{width:230px; height:80px; overflow:hidden; float:left; display:inline;}
#headline .list{width:224px; height:24px; padding-left:13px; line-height:22px; background:url(/images/index/circle1.jpg) no-repeat 0 8px; overflow:hidden; float:left; display:inline;}
#headline .list a{color:#003399; font-size:14px; text-decoration:none;}
#headline .list a:hover{color:#94000B;}
#headline #more{width:60px; height:20px; margin-top:50px; float:right; display:inline;}
#headline #more a{color:#003399;}
#headline #btn{width:115px; height:14px; margin-top:3px; margin-right:10px; float:right; display:inline;}
#headline #btn .headline_btn1{width:14px; height:14px; margin-left:5px; float:left; display:inline; cursor:pointer;}
#headline #btn .headline_btn2{width:14px; height:14px; margin-left:5px; float:left; display:inline; cursor:pointer;}

#forbes_tltb{width:680px; height:123px; background:url('/images/index/bg1.jpg'); overflow:hidden; float:left; display:inline; }

#lujiazui{width:325px; float:left; display:inline;}
#lujiazui_caption{width:270px;; height:20px; margin-top:10px; margin-left:10px; line-height:20px; float:left; display:inline;}
#lujiazui_caption a{color:#003399; font-size:14px; font-weight:bold; text-decoration:none;}
.lujiazui_list{width:238px; height:18px; margin-top:5px; margin-left:10px; padding-left:18px; background:url(/images/index/arrow1.png) no-repeat 0 7px; line-height:20px; overflow:hidden; float:left; display:inline;}
.lujiazui_list a{color:#2555a7; font-size:14px; text-decoration:none;}
.lujiazui_list a:hover{color:#94000B;} 
#lujiazui_coffee{width:50px; height:34px; margin-top:-5px; background-image:url(/images/index/coffee.png)!important; background-image:none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=image, src="/images/index/coffee.png"); float:left; display:inline;}

#subject{width:351px; float:right; display:inline;}
#subject_btnl{width:5px; height:99px; margin-top:45px; margin-left:10px; background:url(/images/index/subject_btnl.jpg) no-repeat; cursor:pointer; float:left; display:inline;}
#subject_btnr{width:5px; height:99px; margin-top:45px; margin-left:10px; background:url(/images/index/subject_btnr.jpg) no-repeat; cursor:pointer; float:left; display:inline;}
.subject_content{width:74px; height:99px; margin-top:15px; margin-left:15px; margin-right:10px; line-height:16px; float:left; display:inline;}
.subject_pic{width:72px; height:72px; border:1px solid #CCCCCC; float:left; display:inline;}
.subject_pic img{width:70px; height:70px; margin:1px;}
.subject_list{width:74px; height:16px; margin-top:9px; text-align:center; line-height:16px; overflow:hidden; float:left; display:inline;}
.subject_list a{color:#003899; text-decoration:none;}
.subject_list a:hover{color:#94000B;} 

#forbes_trt{width:300px; margin-top:10px; overflow:hidden; float:right; display:inline;}
#forbes_trt .title{width:75px; height:26px; line-height:26px; font-size:13px; color:#003399; background:url('/images/index/block1.jpg') no-repeat; text-align:center; float:left; display:inline;}
#forbes_trt #ph{width:300px; height:23px; line-height:23px; border-top:2px solid #666666; border-bottom:1px solid #666666; overflow:hidden; float:left; display:inline;}
#forbes_trt #phb{width:300px; float:left; display:inline;}
#forbes_trt #phname{width:300px; height:250px; background:url('/images/index/t_r_t_ph.jpg') no-repeat; float:left; display:inline;}
#forbes_trt #phname .content{width:300px; height:24px; line-height:24px; color:#666666; border-bottom:1px solid #CCCCCC; float:left; display:inline;}
#forbes_trt #phname .content a{margin-left:50px; color:#0033CC; text-decoration:none;}
#forbes_trt #bottom{width:300px; height:77px; margin-top:2px; background:#f7f7f7; float:left; display:inline;}
#forbes_trt #bottom #title{width:280px; height:18px; margin-top:10px; margin-left:10px; color:#333333; font-size:14px; font-weight:bold; line-height:18px; float:left; display:inline;}
#forbes_trt .bottom_list{width:280px; height:16px; margin-top:5px; margin-left:10px; padding-left:20px; background:url(/images/index/arrow.jpg) no-repeat 0 5px; line-height:16px; overflow:hidden; float:left; display:inline;}
#forbes_trt .bottom_list a{color:#666666; text-decoration:none;}

.forbes_l{width:330px; margin-top:10px; margin-left:5px; overflow:hidden; float:left; display:inline;}
.forbes_l .caption{width:320px; height:28px; margin-top:5px;  float:left; display:inline;}
.forbes_l .caption .captions{width:30px; height:18px; margin-top:5px; padding-left:18px; line-height:18px; font-size:14px; color:#666666; font-weight:bold;  background:url(/images/index/square.jpg) no-repeat 0 5px; float:left; display:inline;}
.forbes_l .caption .line{width:1px; height:10px; margin-top:9px; margin-left:10px; font-size:10px; line-height:10px; float:left; display:inline;}
.forbes_l .caption .more{width:38px; height:8px; margin-top:10px; margin-left:15px; background:url(/images/index/more.jpg) no-repeat; float:left; display:inline;}

.forbes_l_content{width:320px; padding-bottom:10px; float:left; display:inline;}
.forbes_l .list1{width:320px; margin-top:10px; margin-left:10px; float:left; display:inline;}
.forbes_l .list1_title{width:228px; height:24px; line-height:24px; overflow:hidden; float:left; display:inline;}
.forbes_l .list1_title a{font-size:20px; color:#003899; font-weight:bold; font-family:黑体; text-decoration:none;}
.forbes_l .list1_description{width:294px; height:40px; margin-top:10px; font-size:14px; line-height:20px; overflow:hidden; float:left; display:inline;}
.forbes_l .list1_description a{color:#666666; text-decoration:none;}
.forbes_l .list2{width:300px; height:16px; margin-top:7px; margin-left:12px; padding-left:15px; background:url(/images/index/circle1.jpg) no-repeat 0 5px; line-height:16px; float:left; display:inline;}
.forbes_l .list2 a{font-size:14px; color:#003899; text-decoration:none;}
.forbes_l .dashed{width:320px; height:2px; margin-top:10px; background:url('/images/index/dashed.jpg') no-repeat bottom; float:left; display:inline;}

.forbes_l .list1_description2{width:310px; height:100px; margin-top:7px; font-size:14px; line-height:25px; overflow:hidden; float:left; display:inline;}
.forbes_l .list1_description2 a{color:#666666; text-decoration:none;}
.forbes_l .list1_pic{width:72px; height:72px; border:1px solid #CCCCCC; float:left; display:inline;}
.forbes_l .list1_pic img{width:70px; height:70px; margin:1px;}

.forbes_l .image{width:150px; height:130px; float:left; display:inline;}
.forbes_l .image_content{width:155px; height:130px; margin-left:5px; line-height:20px; float:left; display:inline;}
.forbes_l .image_content .image_list{width:135px; height:20px; line-height:20px; font-size:16px; font-weight:bold; font-family:黑体; overflow:hidden; float:left; display:inline;}
.forbes_l .image_content .image_list a{color:#000000; text-decoration:none;}
.forbes_l .image_content .image_description{width:135px; height:100px; margin-top:10px; line-height:20px; overflow:hidden; float:left; display:inline;}
.forbes_l .image_content .image_description a{color:#666666; text-decoration:none;}

#column_btnl{width:8px; height:99px; margin-top:45px; background:url(/images/index/column_btnl.jpg) no-repeat; cursor:pointer; float:left; display:inline;}
#column_btnr{width:8px; height:99px; margin-top:45px; margin-left:10px; background:url(/images/index/column_btnr.jpg) no-repeat; cursor:pointer; float:left; display:inline;}

.forbes_l{width:320px; margin-top:20px; margin-left:15px; float:left; display:inline;}
.forbes_l .caption{width:320px; height:28px; margin-top:5px;  float:left; display:inline;}
.forbes_l .caption .caption1{width:60px; height:18px; margin-top:5px; padding-left:18px; line-height:18px; font-size:14px; color:#666666; cursor:pointer; font-weight:bold;  background:url(/images/index/square.jpg) no-repeat 0 5px; float:left; display:inline;}
.forbes_l .caption .caption2{width:60px; height:18px; margin-top:5px; padding-left:18px; line-height:18px; font-size:12px; color:#666666; cursor:pointer; float:left; display:inline;}
.forbes_l .caption .line{width:1px; height:10px; margin-top:9px; margin-left:10px; font-size:10px; line-height:10px; float:left; display:inline;}
.forbes_l .list3{width:300px; height:21px; margin-top:5px; margin-left:10px; padding-left:15px; background:url(/images/index/square2.jpg) no-repeat 0 10px; line-height:21px; float:left; display:inline;}
.forbes_l .list3 a{color:#003399; font-size:14px; text-decoration:none;}


.forbes_l .writer{width:59px; height:103px; margin-top:10px; margin-left:15px; float:left; display:inline;}
.forbes_l .writer_pic{width:57px; height:57px; border:1px solid #cccccc; float:left; display:inline;}
.forbes_l .writer_pic img{width:55px; height:55px; margin:1px;}
.forbes_l .writer_name{width:59px; height:35px; text-align:center; line-height:20px; overflow:hidden; float:left; display:inline;}
.forbes_l .writer_name a{color:#003399; text-decoration:none;}


.forbes_l .piccontent1{width:310px; height:100px; font-size:14px; line-height:25px; overflow:hidden; float:left; display:inline;}
.forbes_l .piccontent1 a{color:#666666; text-decoration:none;}

.forbes_l .content2{width:320px; float:left; display:inline;}

.forbes_l .content{width:87px; height:110px; margin-top:10px; margin-left:9px; float:left; display:inline;}
.forbes_l .content .cpic{width:87px; height:87px; border:1px solid #CCCCCC; float:left; display:inline;}
.forbes_l .content .cpic img{width:85px; height:85px; margin:1px;}
.forbes_l .content .ccl{width:87px; height:16px; margin-top:9px; line-height:16px; overflow:hidden; float:left; display:inline;}
.forbes_l .content .ccl a{color:#003899; text-decoration:none;}
.forbes_l .pic{width:72px; height:72px; border:1px solid #CCCCCC; float:left; display:inline;}
.forbes_l .pic img{width:70px; height:70px; margin:1px;}

.forbes_l #ck{width:150px; height:20px; margin-top:10px; line-height:20px; text-align:right; float:right; display:inline;}
.forbes_l #ck a{color:#256cb1; text-decoration:none;}
.forbes_l .cltitle{width:300px; height:24px; margin-top:10px; margin-left:10px; line-height:24px; float:left; display:inline;}
.forbes_l .cltitle a{color:#000066; font-size:20px; font-weight:bold; font-family:黑体; text-decoration:none;}
.forbes_l .context{width:295px; height:38px; margin-top:11px; margin-left:13px; line-height:19px; float:left; display:inline;}
.forbes_l .context a{color:#003899; font-size:12px; text-decoration:none;}
.forbes_l .context1{width:295px; height:16px; line-height:16px; margin-left:13px; color:#999999; float:left; display:inline;}
.forbes_l .context1 a{color:#999999; text-decoration:none;}

#forbes_r{width:300px; float:right; display:inline;}
#forbes_r #dictionary{width:300px; height:77px; margin-top:8px; background:#f1f1f1; float:left; display:inline;}
#forbes_r #dictionary_t{width:278px; height:20px; margin-top:10px; margin-left:11px; line-height:20px; float:left; display:inline;}
#forbes_r #dictionary_tl{width:100px; height:20px;  line-height:20px; overflow:hidden; float:left; display:inline;}
#forbes_r #dictionary_tl a{color:#990000; font-size:14px; font-weight:bold; text-decoration:none;}
#forbes_r #dictionary_tr{width:164px; height:20px; line-height:20px; overflow:hidden; float:right; display:inline;}
#forbes_r #dictionary_tr a{color:#003399; text-decoration:underline;}
#forbes_r #dictionary_bl{width:100px; height:24px; margin-top:10px; margin-left:50px; line-height:24px; float:left; display:inline;}
#forbes_r #dictionary_bl a{font-size:20px; font-weight:bold; font-family:黑体; color:#003399;}
#forbes_r #dictionary_br{width:132px; height:20px; margin-top:12px; line-height:20px; float:right; display:inline;}
#forbes_r #dictionary_br a{font-size:16px; font-weight:bold; color:#003399;}


#activity{width:300px; height:205px; margin-top:8px; float:right; display:inline;}
#activity #images{width:260px; height:90px; margin-top:10px; margin-left:17px; float:left; display:inline;}
#activity #context{width:260px; height:40px; margin-top:5px; margin-left:20px; font-size:12px; color:#999999; line-height:20px; float:left; display:inline;}
#activity #info{width:50px; height:20px; margin-top:5px; margin-right:23px; line-height:20px; float:right; display:inline;}
#activity #info a{color:#3399CC;}

#club{width:300px; height:151px; margin-top:12px; background:url(/images/index/bg2.jpg) no-repeat; float:right; display:inline;}
.club_caption1{width:100px; height:20px;  margin-left:15px; margin-top:8px; font-size:14px; font-weight:bold; color:#999999; float:left; display:inline;}
.club_more1{width:18px; height:8px; margin-top:11px; margin-right:10px; background:url(/images/public/public_more1.jpg) no-repeat; line-height:18px; float:right; display:inline;}
#club .c_r_m_right{width:3px; height:151px; background:url('/images/index/c_r_m_right.gif') no-repeat;  float:right; display:inline;}
#club .content{width:280px; height:74px; margin-top:10px; float:left; display:inline;}
#club .content a{color:#666666; text-decoration:none;}
#club .content .pic{width:72px; height:72px; margin-left:15px; border:1px solid #CCCCCC; float:left; display:inline;}
#club .content .pic img{width:70px; height:70px; margin:1px;}
#club .content .pictitle{width:180px; height:16px; margin-left:5px; font-size:13px; line-height:16px; float:right; display:inline;}
#club .content .pictitle a{font-weight:bold; color:#333399;}
#club .content .piccontent{width:180px; height:52px; margin-top:8px; margin-left:5px; text-indent:24px; line-height:20px; float:right; display:inline;}
#club .bottom{width:280px; height:30px; margin-top:8px; margin-left:15px; line-height:30px; float:left; display:inline;}
#club .bottom_l{width:140px; height:30px; overflow:hidden; float:left; display:inline;}
#club .bottom_r{width:140px; height:30px; overflow:hidden; float:right; display:inline;}
#club .bottom .image{width:17px; height:20px; margin-top:5px; margin-right:5px; float:left; display:inline;}
#club .bottom a{color:#0033CC}

#city{width:300px; height:151px; margin-top:8px; background:url(/images/index/bg2.jpg) no-repeat; float:right; display:inline;}
.city_caption1{width:100px; height:20px;  margin-left:15px; margin-top:8px; font-size:14px; font-weight:bold; color:#999999; float:left; display:inline;}
.city_more1{width:18px; height:8px; margin-top:11px; margin-right:10px; background:url(/images/public/public_more1.jpg) no-repeat; line-height:18px; float:right; display:inline;}
#city .c_r_m_right{width:3px; height:151px; background:url('/images/index/c_r_m_right.gif') no-repeat;  float:right; display:inline;}
#city .content{width:280px; height:74px; margin-top:10px; float:left; display:inline;}
#city .content a{color:#666666; text-decoration:none;}
#city .content .pic{width:72px; height:72px; margin-left:15px; border:1px solid #CCCCCC; float:left; display:inline;}
#city .content .pic img{width:70px; height:70px; margin:1px;}
#city .content .pictitle{width:180px; height:16px; margin-left:5px; font-size:13px; line-height:16px; float:right; display:inline;}
#city .content .pictitle a{font-weight:bold; color:#333399;}
#city .content .piccontent{width:180px; height:52px; margin-top:8px; margin-left:5px; text-indent:24px; line-height:20px; float:right; display:inline;}
#city .bottom{width:280px; height:30px; margin-top:8px; margin-left:15px; line-height:30px; float:left; display:inline;}
#city .bottom_l{width:140px; height:30px; overflow:hidden; float:left; display:inline;}
#city .bottom_r{width:140px; height:30px; overflow:hidden; float:right; display:inline;}
#city .bottom .image{width:17px; height:20px; margin-top:5px; margin-right:5px; float:left; display:inline;}
#city .bottom a{color:#0033CC}

#inventory{width:300px; margin-top:8px; overflow:hidden; float:right; display:inline;}
.inventory_content{width:298px;  border-left:1px solid #dfdfdf;  border-right:1px solid #dfdfdf; overflow:hidden; float:left; display:inline;}
.inventory_title{width:270px; height:20px; margin-top:5px;  margin-left:20px; padding-top:5px; padding-left:25px;  background:url(/images/index/arrow2.jpg) no-repeat 0 8px; line-height:18px; overflow:hidden; float:left; display:inline;}
.inventory_title a{font-weight:bold; font-size:13px; color:#000000; text-decoration:none;}
.inventory_list{width:270px; height:40px; margin-top:5px; margin-left:20px; font-size:13px; color:#999999; line-height:18px;  overflow:hidden; float:left; display:inline;}
.inventory_dash{width:270px; height:1px; margin-top:10px; margin-left:15px; background:url(/images/index/dashed2.jpg) no-repeat; float:left; display:inline;}
.inventory_button{width:66px; height:22px; margin-right:15px; background:url(/images/index/btn1.jpg) no-repeat; float:right; display:inline;}

#mag{width:300px; margin-top:8px; float:right; display:inline;}
#mag_content{width:298px;  border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf; float:left; display:inline;}
#mag_content .pic{width:88px; height:114px; margin-top:10px; margin-left:13px; border:1px solid #cccccc; float:left; display:inline;}
#mag_content .pic img{width:86px; height:112px; margin:1px;}
#mag_content .pictitle{width:170px; height:20px;margin-top:13px;  margin-left:13px;  color:#3399CC; font-weight:bold; overflow:hidden; float:left; display:inline;}
#mag_content .context{width:170px; height:96px; margin-left:13px;  line-height:25px; float:left; display:inline;}
#mag_dash{width:270px; height:1px; margin-top:10px; margin-left:15px; background:url(/images/index/dashed2.jpg) no-repeat; float:left; display:inline;}
#mag #search{width:202px; height:20px;  margin-left:12px; line-height:20px; color:#0066CC; font-weight:bold; float:left; display:inline;}
#mag #sel{width:280px; height:20px; margin-top:5px; margin-left:12px; float:left; display:inline;}
#mag #sel select{width:95px; height:20px;}
#mag #btnonline{width:66px; height:22px; margin-top:10px; margin-left:20px; border:0px; background:url('/images/index/readonline.jpg') no-repeat; float:left; display:inline;}
#mag #sq{width:66px; height:22px; margin-top:10px; margin-left:20px; border:0px; background:url('/images/index/sqread.jpg') no-repeat; float:left; display:inline;}
#mag #ck{width:200px; height:20px; margin-right:10px; line-height:20px; text-align:right; float:right; display:inline;}
#mag #ck a{color:#666666; font-weight:bold;}



.c_r_img{width:644px; height:95px; margin-top:10px;  float:right; display:inline;}


