body {font-size:0px; line-height:0; font-family:宋体,arial; color:#000;  margin:0 auto; padding:0;}
p {margin:0; padding:0}
ul{list-style:none; padding:0; margin:0; margin-left:10px;}

#ibody{width:1000px; margin:0 auto;}

#bread{width:494px; height:23px; margin-top:16px; padding-left:130px; font-size:12px; color:#666666; line-height:23px; background:url(/images/public/bread.jpg) no-repeat 10px 0; float:left; display:inline;}
#bread a{color:#666666; text-decoration:none;}
#bread_line{width:1000px; height:8px; margin-top:2px; background:url('/images/public/bread_line.jpg') no-repeat; float:left; display:inline;}

#l{width:665px; margin-top:10px; overflow:hidden; float:left; display:inline;}

#news_title{width:650px; margin-left:10px; overflow:hidden; font-size:30px; color:#1E448D; line-height:40px; font-weight:bold; font-family:微软雅黑,宋体; clear:both; float:left; display:inline;}

#news_info{width:650px; height:18px; margin-top:10px; margin-left:12px; color:#97ABCA; line-height:18px; font-size:14px;  float:left; display:inline;}

#news_tools{width:648px; height:34px; margin-left:10px; margin-top:20px; font-size:12px; border:1px solid #D1D7DD; background:url('/images/news/tools.jpg'); text-align:right; line-height:30px; float:left; display:inline;}
.news_tools_btn{height:14px; margin-top:11px; padding-left:12px; line-height:16px; font-size:12px; padding-right:16px; border-left:1px #DBE1E7 solid; border-right:1px #FFFFFF solid;  float:left; display:inline;}
.news_tools_btn img{float:left; display:inline;}
.news_tools_btn a{color:#666666; text-decoration:none;}
.news_tools_span{margin-left:6px; cursor:pointer; float:left; display:inline;}
.news_tools_btn2{height:14px; margin-top:11px; padding-left:12px; line-height:16px; font-size:12px; padding-right:16px; border-left:1px #DBE1E7 solid; border-right:1px #FFFFFF solid; float:left; display:inline;}
.news_tools_btn2 img{float:left; display:inline;}
.news_tools_btn2 a{color:#666666; }

#news_text{width:648px; margin-left:12px; margin-top:20px; border-bottom:1px dotted #cccccc; float:left; display:inline;}

#news_text_info{width:180px; padding-left:10px; padding-bottom:10px; background:url(/images/news/dash2.gif) repeat-y; margin-left:20px; float:right; display:inline;}
.info_title{height:22px; color:#666666; font-weight:bolder; font-size:14px; line-height:20px; float:left; display:inline;}
#info_resource{width:180px; line-height:20px; font-size:12px; color:#666666; word-break:break-all; word-wrap:break-word; overflow:hidden; float:left; display:inline; }
.info_more{width:45px; height:12px; margin-top:18px; margin-left:5px; padding-left:8px; border-left:1px #666666 solid; float:left; display:inline;}
.info_list{width:180px; float:left; display:inline; }
.info_list li{width:170px; padding-left:10px; font-size:13px; line-height:25px; background:url(/images/news/icon1.gif) no-repeat; overflow:hidden; float:left; display:inline;}
.info_list li a{color:#003899; text-decoration:none;}
.info_list li a:hover{text-decoration:underline;}
.info_dash{width:175px; height:1px; margin-top:20px; margin-left:5px; font-size:0; background:url(/images/news/dash.gif) repeat-x; float:left; display:inline;}
.info_keywords{width:164px; margin-top:15px; margin-left:5px; padding:5px; font-size:12px; line-height:20px; border:3px solid #C4E0F5; border-bottom:0; background:#F6FAFE; float:left; display:inline;}
.info_keywords a{color:#666666; text-decoration:none;}
.info_keywords a:hover{color:#003899; text-decoration:underline;}
#info_keywords_bottom{width:180px; height:20px; margin-left:5px; padding-top:10px; background:url(/images/news/keywords.gif) no-repeat; float:left; display:inline;}

#ad_roll{width:1px; height:200px; float:left; display:inline;}
#ad_box{clear:left; *margin-top:15px; margin-right:20px; float:left; display:inline;}

#news_content{width:640px; font-size:14px; display:inline; line-height:25px;}
#news_content p{text-indent:0px; margin-bottom:15px;}

#news_paginate{width:640px; height:25px; text-align:center; margin-top:30px; float:left; display:inline;}

#news_comment{width:648px; margin-top:20px; margin-left:12px; float:left; display:inline;}

#comment_caption{width:640px; height:30px; line-height:30px; float:left; display:inline;}
#comment_title{font-weight:bold; font-size:14px; color:#666666;  float:left; display:inline;}
#comment_count{color:#BA2636; font-size:12px; float:left; display:inline;}
#comment_btn{width:122px; height:22px; margin-left:20px; border:0; background:url(/images/news/comment.jpg) no-repeat; cursor:pointer; float:left; display:inline;}
#comment_more{color:#003399; font-size:13px; float:right; display:inline;}

.publish_comment{width:640px; padding-bottom:20px; line-height:20px; font-size:13px; color:#666666; float:left; display:none;}
.publish_comment textarea{width:640px; height:140px; border:1px solid #cccccc; margin-bottom:5px; float:left; display:inline;}
.publish_comment input{float:left; display:inline;}
.publish_comment span{float:left; display:inline;}
.publish_comment #commit_submit{width:100px; height:22px; margin-left:10px; border:1px solid #666666; cursor:pointer; float:left; display:inline;}
.publish_comment #nick_name{width:200px; height:18px; margin-left:10px; border:1px solid #cccccc; float:left; display:inline;}
.publish_comment #user_name{width:160px; height:18px; margin-right:10px; border:1px solid #cccccc;}
.publish_comment #login_info{width:640px; height:30px; margin-top:5px; clear:both; float:left; display:inline;}
.publish_comment #password{width:160px; height:18px; margin-right:10px; border:1px solid #cccccc;}
.publish_comment #comment_login{width:100px; height:22px; border:1px solid #666666; cursor:pointer; }

.comment_box{width:640px; margin-top:10px; border-bottom:1px dotted #cccccc; line-height:25px; font-size:13px; float:left; display:inline;}
.comment_box .name{height:25px; color:#003399; font-size:14px; font-weight:bold; float:left; display:inline;}
.comment_box .time{height:25px; margin-left:15px; font-size:12px; color:#999999; float:left; display:inline;}
.comment_box .support{height:25px; color:#003399; font-size:12px; float:right; display:inline;}
.comment_box .support div{margin-left:5px; float:left; display:inline;}
.comment_box .comment_content{width:620px; margin-left:20px; padding-bottom:10px; font-size:12px; color:#666666; float:left; display:inline;}
.pointor{cursor:pointer;}

#comment_paginate{width:640px; height:50px; margin-top:25px; line-height:30px; font-size:13px; color:#666666; text-align:center; float:left; display:inline;}
#comment_paginate a{color:#246BB0; text-decoration:none;}

.news_caption {width:500px; height:28px; margin-top:5px; margin-left:10px; float:left; display:inline;}
.news_caption .captions{height:18px; margin-top:5px; padding-left:18px; line-height:18px; font-size:14px; color:#666666; font-weight:bold;  background:url(/images/public/square.jpg) no-repeat 0 5px; float:left; display:inline;}
.news_caption .captions span{margin-left:10px; font-weight:normal; font-size:12px; color:#7F7F7F;}
.news_caption .line{width:1px; height:10px; margin-top:10px; margin-left:10px; font-size:10px; line-height:10px; float:left; display:inline;}
.news_caption .more{width:38px; height:8px; margin-top:11px; margin-left:15px; background:url(/images/public/more.jpg) no-repeat; float:left; display:inline;}

#list_top{width:640px; height:286px; overflow:hidden; float:left; display:inline;}
#list_top #picture{width:300px; height:200px; float:left; display:inline;}
#list_top #title{width:300px; height:30px; margin-top:10px; margin-left:20px; font-size:18px; font-weight:bold; line-height:30px; overflow:hidden; float:left; display:inline;}
#list_top #description{width:300px; height:120px;  margin-top:10px; margin-left:20px; font-size:12px; color:#333333; line-height:23px; overflow:hidden; float:left; display:inline;}
#list_top #info{width:659px; height:23px;　margin-top:5px; font-size:12px; color:#666666; line-height:23px; float:left; display:inline;}



#l_t_t{width:659px; height:23px; background:url(/images/html/culture/tar.jpg) no-repeat left center;float:left; display:inline;}
#l_t_t1{width:60px; height:23px; font-size:14px; font-weight:bold; color:#666666; line-height:23px; margin-left:15px; float:left; display:inline;}
#l_t_t2{width:80px; height:23px; font-size:12px; color:#999999; line-height:23px; margin-left:15px; float:left; display:inline;}
#l_t_t3{width:54px; height:10px; margin-top:6px; margin-left:10px; background-image:url(/images/html/culture/more.jpg); float:left; display:inline;}
#l_t_m{width:659px; height:250px; float:left; display:inline;}
#l_t_m_r{width:317px; height:204px; margin-top:15px; margin-left:10px; float:left; display:inline;}
#l_m{width:659px; height:1100px; float:left; display:inline;}











#l_t_m_r_t1 a:link{color:#246BB0; text-decoration:none;}
#l_t_m_r_t1 a:visited{color:#246BB0; text-decoration:none;}
#l_t_m_r_t3 a:link{color:#246BB0; text-decoration:underline;}
#l_t_m_r_t3 a:visited{color:#246BB0; text-decoration:underline;}
#r_m_d1_t3 a:link{color:#246BB0;}
#r_m_d1_t3 a:visited{color:#246BB0;}
#r_m_d3_t a:link{color:#999999;}
#r_m_d3_t a:visited{color:#999999;}
#r_m_d3_t2 a:link{color:#11579E; }
#r_m_d3_t2 a:visited{color:#11579E; }
#r_m_d4_t7 a:link{color:#11579E;text-decoration:underline; }
#r_m_d4_t7 a:visited{color:#11579E;text-decoration:underline; }

#top{margin-top:15px; margin-left:10px; float:left; display:inline;}
#title{height:27px; line-height:27px; font-size:18px; text-align:left; font-weight:bold; color:#278AC4; font-family:微软雅黑; float:left; display:inline;}
#title1{height:20px; font-size:12px; line-height:20px; color:#666666; margin-top:6px; margin-left:19px; float:left; display:inline;}
#title1 a{margin-left:5px; color:#666666; text-decoration:none;}



.l_m_t{width:650px; margin-top:15px; float:left; display:inline;}
.l_m_t1{width:650px; float:left; display:inline;}
.l_m_t2{width:300px; height:30px; line-height:30px; overflow:hidden; font-size:14px; font-weight:bold; color:#246BB0; margin-left:5px; float:left; display:inline;}
.l_m_t2 a{ color:#246BB0; text-decoration:none;}
.l_m_t3{width:300px; height:30px; margin-right:10px; line-height:30px; text-align:right; font-size:12px; color:#666666; float:right; display:inline;}
.l_m_t4{width:600px; font-size:12px; color:#333333; line-height:26px; margin-top:2px; margin-left:20px; float:left; display:inline;}
.dash{width:650px; height:1px; margin-top:20px; background:url(/images/html/news/dash4.gif) repeat-x; float:left; display:inline;}
#page{width:650px; height:30px; line-height:30px; color:#666666; text-align:center; margin-top:85px; float:left; display:inline;}
#page a{color:#246BB0; text-decoration:none;}



#r{width:335px; height:1410px; margin-top:8px; float:right; display:inline;}
#r_m_d1{width:317px; height:273px; margin-top:19px; background-image:url(/images/html/investor/r_m_d1.jpg); float:left; display:inline;}
#r_m_d1_t{width:317px; height:30px; background-image:url(/images/html/investor/r_m_d1_t.jpg); float:left; display:inline;}
#r_m_d1_t1{width:167px; height:30px; font-size:14px; font-weight:bold; text-align:center; line-height:30px; background-image:url(/images/html/investor/r_m_d1_t1.jpg); float:left; display:inline;}
#r_m_d1_t2{width:150px; height:30px; font-size:14px; font-weight:bold; color:#999999; text-align:center; line-height:30px; float:left; display:inline;}
#r_m_d1_t3{width:283px; height:32px; font-size:13px; color:#246BB0; line-height:32px; text-indent:10px; margin-left:15px; background:url(/images/html/investor/tar.jpg) no-repeat left center; border-bottom-style:dotted; border-width:1px; border-color:#CCCCCC; float:left; display:inline;}
#r_m_d2{width:317px; height:247px; margin-top:18px; background-image:url(/images/html/investor/r_m_d2.jpg); float:left; display:inline;}
#r_m_d2_t{width:317px; height:30px; float:left; display:inline;}
#r_m_d2_t1{width:80px; height:30px; font-size:14px; font-weight:bold; text-align:center; line-height:30px; float:left; display:inline;}
#r_m_d2_t2{width:80px; height:30px; font-size:14px; font-weight:bold; color:#999999; text-align:center; line-height:30px; margin-top:1px; margin-left:1px; border-bottom-style:solid; border-left-style:solid; border-width:1px; border-color:#DFDFDF; background-image:url(/images/html/investor/r_m_d2_t2.jpg); float:left; display:inline;}
#r_m_d2_t4{width:72px; height:30px; font-size:14px; font-weight:bold; color:#999999; text-align:center; line-height:30px; margin-top:1px; border-bottom-style:solid; border-left-style:solid; border-width:1px; border-color:#DFDFDF; background-image:url(/images/html/investor/r_m_d2_t4.jpg); float:left; display:inline;}
#r_m_d3{width:317px; height:263px; margin-top:17px; background-image:url(/images/html/investor/r_m_d3.jpg); float:left; display:inline;}
#r_m_d3_t{width:317px; height:30px; font-size:12px; color:#999999; text-indent:270px; line-height:30px; border-bottom-style:solid; border-width:1px; border-color:#DFDFDF; float:left; display:inline;}
#r_m_d3_t1{width:300px; height:38px; font-size:14px; color:#11579E; font-weight:bold; line-height:38px; margin-left:9px; border-bottom-style:dotted; border-width:1px; float:left; display:inline;}
#r_m_d3_t2{width:288px; height:19px; font-size:12px; color:#11579E; line-height:19px; text-indent:10px; margin-top:10px; margin-left:16px; background:url(/images/html/investor/tar1.jpg) no-repeat left center; float:left; display:inline;}
#r_m_d4{width:317px; height:288px; margin-top:17px; background-image:url(/images/html/investor/r_m_d4.jpg); float:left; display:inline;}
#r_m_d4_t{width:315px; height:30px; font-size:14px; color:#999999; font-weight:bold; line-height:30px; text-indent:10px; margin-top:1px; margin-left:1px; border-bottom-style:solid; border-width:1px; border-color:#DFDFDF; background-image:url(/images/html/investor/r_m_d4_t.jpg); float:left; display:inline;}
#r_m_d4_t1{width:298px; height:209px; margin-left:9px; border-bottom-style:dotted; border-width:1px; float:left; display:inline; }
#r_m_d4_t2{width:150px; height:209px; float:left; display:inline;}
#r_m_d4_t3{width:141px; height:23px; font-size:14px; color:#11579E; font-weight:bold; line-height:23px; margin-top:12px; margin-left:14px; float:left; display:inline;}
#r_m_d4_t4{width:141px; height:54px; font-size:12px; color:#666666; line-height:18px; text-indent:10px; margin-top:5px; margin-left:14px; background:url(/images/html/investor/tar1.jpg) no-repeat 1% 14%; float:left; display:inline;}
#r_m_d4_t5{width:298px; height:39px;  float:left; display:inline; }
#r_m_d4_t6{width:96px; height:21px; font-size:14px; font-weight:bold; margin-top:15px; margin-left:6px; float:left; display:inline; }
#r_m_d4_t7{width:56px; height:21px; font-size:12px; color:#11579E; margin-top:15px; margin-left:10px; float:left; display:inline; }


#line{width:1000px; height:10px; background-image:url(/images/html/investor/line.jpg); float:left; display:inline;}
#d_s{width:293px; height:21px; margin-top:5px; float:left; display:inline;}
#d_s1{width:113px; height:19px; margin-top:13px; float:left; display:inline;}
#d_b1{width:120px; height:40px; margin-right:60px; margin-bottom:7px; float:right; display:inline;}
#button1{width:114px; height:37px; border:0px; background-image:url(/images/html/investor/button1.jpg);}
#button2{width:60px; height:28px; margin-top:14px; margin-left:14px; border:0px; background-image:url(/images/html/investor/button2.jpg);}
#button3{width:60px; height:28px; margin-top:14px; margin-left:14px; border:0px; background-image:url(/images/html/investor/button3.jpg);}
#picture{width:309px; height:202px; margin-top:15px; margin-left:5px; float:left; display:inline; }
#picture1{width:296px; height:121px; margin-top:9px; margin-left:12px; background-image:url(/images/html/investor/picture1.jpg); float:left; display:inline; }
#picture2{width:139px; height:182px; margin-top:14px; margin-left:5px; background-image:url(/images/html/investor/picture2.jpg); float:left; display:inline; }
#prev{width:18px; height:13px; margin-top:3px; margin-left:180px; background-image:url(/images/html/investor/prev.jpg); float:left; display:inline;}
#num{width:165px; height:20px; font-size:12px; color:#666666; line-height:20px; letter-spacing:11px; text-indent:10px; float:left; display:inline;}
#num1{width:20px; height:20px; font-size:12px; color:#666666; line-height:20px; loat:left; display:inline;}
#next{width:18px; height:13px; margin-top:88px; margin-right:245px; background-image:url(/images/html/investor/next.jpg); float:right; display:inline;}
#ad{width:317px; height:265px; background-image:url(/images/html/investor/ad.jpg); float:right; display:inline;}

