body{font:12px/150% "Lucida Grande", Arial, Verdana, Helvetica, sans-serif;}

.tm2008style .select_box{width:102px;height:24px; margin-top:40px; margin-left:500px; float:left; display:inline;}

.tm2008style div.tag_select{display:block;color:#000;width:82px;height:22px;background:transparent url("/images/index/tm2008-select.gif") no-repeat 0 0;padding:0 10px;line-height:22px;}
.tm2008style div.tag_select_hover{display:block;color:#000;width:82px;height:22px;background:transparent url("/images/index/tm2008-select.gif") no-repeat 0 -22px;padding:0 10px;line-height:22px;}
.tm2008style div.tag_select_open{display:block;color:#000;width:82px;height:22px;background:transparent url("/images/index/tm2008-select.gif") no-repeat 0 -44px;padding:0 10px;line-height:22px;}

.tm2008style ul.tag_options{position:absolute;margin:0;list-style:none;background:transparent url("/images/index/tm2008-select.gif") no-repeat left bottom;width:100px;padding:0 0 1px;margin:0;width:80px;}
.tm2008style ul.tag_options li{background:transparent url("/images/index/tm2008-select.gif") repeat-y -102px 0;display:block;width:61px;padding:0 10px;height:22px;text-decoration:none;line-height:22px;color:#000;}

.tm2008style ul.tag_options li.open_hover{background:transparent url("/images/index/tm2008-select.gif") no-repeat 0 -88px;color:#000}
.tm2008style ul.tag_options li.open_selected{background:transparent url("/images/index/tm2008-select.gif") no-repeat 0 -66px;color:#19555F}