body {font-size:12px;  font-family:Arial,宋体; color:#000;  margin:0 auto; padding:0;}
p{margin:0; padding:0}

#ibody{width:1000px; margin:0 auto;}
#cyindex{width:72px; height:19px; cursor:pointer; margin-top:10px; float:left; display:inline;}
#cytitle{width:494px; height:16px; margin-top:13px; margin-left:20px; line-height:16px; float:left; display:inline;}
#cytitle a{color:#246bb0; text-decoration:none;}
#cyline{width:1000px; height:8px; margin-top:10px; background:url('/images/tyzl/tyzl_line.jpg') no-repeat; overflow:hidden; float:left; display:inline;}
#zzleft{width:660px; float:left; display:inline;}
#zzleft #l_t_content{width:658px; float:left; display:inline;}
#zzleft .l_title{width:658px; height:27px; float:left; display:inline;}
#zzleft .l_title .wz{width:191px; height:18px; margin-top:4px; margin-left:20px; font-size:14px; color:#333333; font-weight:bold; line-height:18px; float:left; display:inline;}
#zzleft .l_pic{width:243px; height:313px; margin-top:20px; margin-left:25px; float:left; display:inline;}
#zzleft .l_pic img{width:243px; height:313px;}
#zzleft #r_t{width:341px; margin-left:30px; float:left; display:inline;}
#zzleft #r_t #title{width:341px; height:22px; margin-top:20px; line-height:22px; font-size:18px; font-weight:bold; float:left; display:inline;}
#zzleft #r_t #title a{color:#246bb0; text-decoration:none;}
#zzleft .r_b{width:341px; margin-top:10px; margin-left:30px; float:left; display:inline;}
#zzleft .r_b .title{width:341px; height:18px; margin-top:10px; overflow:hidden;  float:left; display:inline;}
#zzleft .r_b .title .wz{width:341px; height:18px; font-size:14px; font-weight:bold; line-height:18px; float:right; display:inline;}
#zzleft .r_b .title .wz a{color:#333333; text-decoration:none;}
#zzleft .r_b .content{width:341px; height:172px; margin-top:10px; line-height:22px; overflow:hidden; float:left; display:inline;}
#zzleft .r_b .content a{color:#666666; text-decoration:none;}
#zzleft .r_b .moreinfo{width:90px; height:16px; margin-top:10px; float:right; display:inline;}
#zzleft .r_b .moreinfo a{color:#246bb0;}
#zzleft .l_dash{width:623px; height:2px; margin-top:20px; margin-left:25px; background:url('/images/zz/l_dash.jpg') no-repeat; overflow:hidden; float:left; display:inline;}
#zzleft .l_b_content{width:658px; margin-top:20px; float:left; display:inline;}
#zzleft .l_b_content .pic{width:131px; height:167px; margin-left:25px; float:left; display:inline;}
#zzleft .l_b_content .pic img{width:131px; height:167px;}
#zzleft .l_b_content .pictitle{width:461px; height:22px; margin-right:10px; font-size:18px; font-weight:bold; float:right; display:inline;}
#zzleft .l_b_content .pictitle a{color:#246bb0; text-decoration:none;}
#zzleft .l_b_content .piccontent{width:461px; height:98px; margin-right:10px; float:right; display:inline;}
#zzleft .l_b_content .piccontent a{color:#333333; text-decoration:none;}
#zzleft .l_b_content .piccontent .pic_c_t{width:461px; height:18px; margin-top:20px; overflow:hidden; font-size:14px; font-weight:bold; float:left; display:inline;}
#zzleft .l_b_content .piccontent .pic_c_m{width:461px; height:63px; margin-top:10px; overflow:hidden; line-height:21px; float:left; display:inline;}
#zzleft .l_b_content .picinfo{width:90px; height:16px; margin-top:20px; line-height:16px; float:right; display:inline;}
#zzleft .l_b_content .picinfo a{color:#246bb0;}
#right{width:317px; margin-top:10px; float:right; display:inline;}
#right #r_title{width:317px; height:30px; margin-top:10px; float:left; display:inline;}
#right #r_title .title1{width:167px; height:30px; background:url('/images/right/right_t_title1.jpg') no-repeat; font-size:14px; font-weight:bold; line-height:30px; text-align:center; cursor:pointer; float:left; display:inline;}
#right #r_title .title2{width:150px; height:30px; background:url('/images/right/right_t_title2.jpg') no-repeat; color:#999999; font-size:14px; font-weight:bold; line-height:30px; text-align:center; cursor:pointer; float:left; display:inline;}
#right #r_content_left{width:3px; height:242px; background:url('/images/right/right_t_left.jpg') no-repeat; float:left; display:inline;}
#right #r_content{width:311px; height:221px; padding-top:10px; padding-bottom:10px; border-bottom:1px solid #dfdfdf; float:left; display:inline;}
#right #r_content .content{width:281px; height:31px; line-height:31px; margin-left:15px; overflow:hidden; float:left; display:inline;}
#right #r_content .content .images{width:5px; height:5px; margin-top:12px; background:url('/images/tyzl/sjt.jpg') no-repeat; float:left; display:inline;}
#right #r_content .content .context{width:260px; height:30px; margin-left:6px; line-height:30px; float:left; display:inline;}
#right #r_content .content .context a{color:#246bb0; font-size:13px; text-decoration:none;}
#right #r_content .dash{width:281px; height:1px; margin-left:15px; background:url('/images/right/right_content_dash.jpg') no-repeat;  overflow:hidden; float:left; display:inline;}
#right #r_content_right{width:3px; height:242px; background:url('/images/right/right_t_right.jpg') no-repeat; float:left; display:inline;}
#right #r_c_title{width:317px; height:32px; margin-top:10px; float:left; display:inline;}
#right #r_c_title .title1{width:82px; height:32px; background:url(/images/right/right_c_title1.jpg) no-repeat; font-size:14px; font-weight:bold; line-height:30px; text-align:center; float:left; display:inline;}
#right #r_c_title .title2{width:78px; height:32px; background:url(/images/right/right_c_title2.jpg) no-repeat; font-size:14px; font-weight:bold; color:#999999; line-height:30px; text-align:center; float:left; display:inline;}
#right #r_c_left{width:3px; height:215px; background:url('/images/right/right_c_left.jpg') no-repeat; float:left; display:inline;}
#right #r_c_content{width:311px; height:194px; padding-top:10px; padding-bottom:10px; border-bottom:1px solid #dfdfdf; float:left; display:inline;}
#right #r_c_content .content{width:281px; height:31px; line-height:31px; margin-left:15px; overflow:hidden; float:left; display:inline;}
#right #r_c_content .content .images{width:5px; height:5px; margin-top:12px; background:url('/images/tyzl/sjt.jpg') no-repeat; float:left; display:inline;}
#right #r_c_content .content .context{width:260px; height:30px; margin-left:6px; line-height:30px; float:left; display:inline;}
#right #r_c_content .content .context a{color:#246bb0; font-size:13px; text-decoration:none;}
#right #r_c_content .dash{width:281px; height:1px; margin-left:15px; background:url('/images/right/right_content_dash.jpg') no-repeat;  overflow:hidden; float:left; display:inline;}
#right #r_c_right{width:3px; height:215px; background:url('/images/right/right_c_right.jpg') no-repeat; float:left; display:inline;}
#right #zz_r_b_title{width:315px; height:29px; margin-top:10px; border:1px solid #dfdfdf; background:url('/images/zz/r_b_title_bg.jpg') repeat-x; float:left; display:inline;}
#right #zz_r_b_title #wz{width:100px; height:18px; margin-top:6px; margin-left:10px; line-height:18px; color:#999999; font-size:14px; font-weight:bold; float:left; display:inline;}
#right #r_b_left{width:3px; height:334px; background:url('/images/zz/r_b_c_l.jpg') no-repeat; float:left; display:inline;}
#right #r_b_content{width:311px; height:333px; border-bottom:1px solid #dfdfdf; float:left; display:inline;}
#right #r_b_content #r_b_title{width:311px; height:30px; background:url('/images/right/right_b_title_bg.jpg') repeat-x; float:left; display:inline;}
#right #r_b_content #r_b_wz{width:191px; height:18px; margin-top:6px; margin-left:10px; font-size:14px; color:#999999; font-weight:bold; line-height:18px; float:left; display:inline;}
#right #r_b_content #r_b_more{width:42px; height:16px; margin-top:7px; float:right; display:inline;}
#right #r_b_content #r_b_more a{color:#999999; text-decoration:none;}
#right #r_b_content .r_b_context{width:300px; height:92px; margin-top:10px; margin-left:5px; float:left; display:inline;}
#right #r_b_content .r_b_context .pic{width:74px; height:74px; float:left; display:inline;}
#right #r_b_content .r_b_context .pic img{width:74px; height:74px;}
#right #r_b_content .r_b_context .piccontent{width:215px;; height:92px; margin-right:5px; line-height:25px; color:#666666; overflow:hidden; float:right; display:inline;}
#right #r_b_content .r_b_context .piccontent a{color:#3075b9;}
#right #r_b_content .dash{width:300px; height:2px; margin-top:10px; margin-left:5px; background:url('/images/right/right_dash.jpg') no-repeat; overflow:hidden; float:left; display:inline;}
#right #r_b_right{width:3px; height:334px; background:url('/images/zz/r_b_c_r.jpg') no-repeat; float:left; display:inline;}
#right #r_b_b_l{width:3px; height:288px; margin-top:10px; background:url('/images/right/right_b_b_left.jpg') no-repeat; float:left; display:inline;}
#right #r_b_b_c{width:311px; height:286px; margin-top:10px; border-top:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; float:left; display:inline;}
#right #r_b_b_c #r_b_title{width:301px; height:24px; padding-top:6px; padding-left:10px; background:url('/images/right/right_b_title_bg.jpg') repeat-x; font-size:14px; line-height:18px; color:#999999; font-weight:bold; float:left; display:inline;}
#right #r_b_b_c #t_l{width:137px; height:180px; margin-top:10px; margin-left:14px; float:left; display:inline;}
#right #r_b_b_c #t_r{width:136px; height:180px; margin-top:10px; margin-right:14px; float:right; display:inline;}
#right #r_b_b_c #t_r_title{width:136px; height:18px; line-height:18px; font-size:14px; font-weight:bold; overflow:hidden; float:left; display:inline;}
#right #r_b_b_c #t_r_title a{color:#11579e; text-decoration:none;}
#right #r_b_b_c .t_r_content{width:136px; height:52px; margin-top:10px; line-height:17px; overflow:hidden; float:left; display:inline;}
#right #r_b_b_c .t_r_content a{color:#666666; text-decoration:none;}
#right #r_b_b_c #btn{width:136px; height:28px; margin-top:10px; float:right; display:inline;}
#right #r_b_b_c #btn #btn1{width:60px; height:28px; border:0px; background:url('/images/right/sqread.jpg') no-repeat; line-height:16px; overflow:hidden; float:left; display:inline;}
#right #r_b_b_c #btn #btn2{width:60px; height:28px; border:0px; background:url('/images/right/onlineread.jpg') no-repeat; line-height:16px; float:right; display:inline;}
#right #r_b_b_c .dash{width:300px; height:2px; margin-top:10px; margin-left:5px; background:url('/images/right/right_dash.jpg') no-repeat; float:left; display:inline;}
#right #r_b_b_c #b_b{width:294px; height:20px; margin-top:5px; margin-left:8px; font-weight:bold; font-size:14px; line-height:20px; float:left; display:inline;}
#right #r_b_b_c #b_b select{width:113px; height:20px;}
#right #r_b_b_c #b_b a{font-size:12px; font-weight:normal; color:#11579e; margin-top:2px;}
#right #r_b_b_r{width:3px; height:288px; margin-top:10px; background:url('/images/right/right_b_b_right.jpg') no-repeat; float:left; display:inline;}
#r_b_b{width:315px; height:285px; border:1px solid #dfdfdf; margin-top:10px; float:right; display:inline;}
#r_b_b .title{width:315px; height:28px; border-bottom:1px solid #dfdfdf;  background:url('/images/zz/r_b_title_bg.jpg') repeat-x; float:left; display:inline;}
#r_b_b .title #wz{width:100px; height:18px; margin-top:6px; margin-left:10px; line-height:18px; color:#999999; font-size:14px; font-weight:bold; float:left; display:inline;}
#r_b_b .title #more{width:19px; height:9px; margin-top:10px; margin-right:10px; line-height:18px; float:right; display:inline;}
#r_b_b .content{width:270px; height:127px; margin-top:15px; margin-left:14px; float:left; display:inline;}
#r_b_b .content .pic{width:88px; height:114px; border:1px solid #cccccc; float:left; display:inline;}
#r_b_b .content .pic img{width:86px; height:112px; margin:1px;}
#r_b_b .content .piccontent{width:170px; height:116px; overflow:hidden; float:right; display:inline;}
#r_b_b .content .pictitle{width:170px; height:20px; color:#3399CC; font-weight:bold; overflow:hidden; float:left; display:inline;}
#r_b_b .content .context{width:170px; height:96px; line-height:25px; float:left; display:inline;}
#r_b_b #r_b_b_dash{width:270px; height:1px; margin-left:12px; background:url('/images/index/b_r_t_dash.jpg') no-repeat; float:left; display:inline;}
#r_b_b #search{width:300px; height:20px;  margin-left:12px; line-height:20px; color:#0066CC; font-weight:bold; float:left; display:inline;}
#r_b_b #sel{width:300px; height:20px; margin-top:5px; margin-left:12px; float:left; display:inline;}
#r_b_b #sel .select1{width:123px; height:20px; float:left; display:inline;}
#r_b_b #sel .select1 select{width:123px; height:20px;}
#r_b_b #sel .select2{width:83px; height:20px; margin-left:20px; float:left; display:inline;}
#r_b_b #sel .select2 select{width:83px; height:20px;}
#r_b_b #btnonline{width:66px; height:22px; margin-top:10px; margin-left:20px; border:0px; background:url('/images/index/readonline.jpg') no-repeat; float:left; display:inline;}
#r_b_b #sq{width:66px; height:22px; margin-top:10px; margin-left:20px; border:0px; background:url('/images/index/sqread.jpg') no-repeat; float:left; display:inline;}
#r_b_b #ck{width:200px; height:20px; margin-right:10px; line-height:20px; text-align:right; float:right; display:inline;}
#r_b_b #ck a{color:#666666; font-weight:bold;}

.paginate{width:660px; margin-top:90px; line-height:20px; color:#666666; text-align:center; float:left; display:inline;}
.paginate a{color:#246BB0; text-decoration:none;}