body {font-size:12px;  font-family:Arial,宋体; color:#000;  margin:0 auto; padding:0;}

#ibody{width:1000px; margin:0 auto;}
#cyindex{width:72px; height:18px; cursor:pointer; background-image:url(/images/zzzl/zzzl.png)!important; background-image:none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=image, src="/images/zzzl/zzzl.png"); margin-top:10px; float:left; display:inline;}
#cytitle{width:494px; height:16px; margin-top:13px; margin-left:20px; line-height:16px; float:left; display:inline;}
#cytitle a{color:#246bb0; text-decoration:none;}
#cyline{width:1000px; height:8px; margin-top:10px; background:url('/images/tyzl/tyzl_line.jpg') no-repeat; float:left; display:inline;}
#zzzl_left{width:180px; margin-top:10px; float:left; display:inline;}
#zzzl_left_t{width:180px; height:3px; background:url('/images/zzzl/l_t.jpg') no-repeat; float:left; display:inline;}
#zzzl_left_b{width:180px; height:3px; background:url('/images/zzzl/l_b.jpg') no-repeat; float:left; display:inline;}
#zzzl_left_content{width:178px; height:939px; border-left:1px solid #f5f5f5; border-right:1px solid #f5f5f5; background:#fafafa; float:left; display:inline;}
#zzzl_left_content #top{width:140px; margin-top:20px; margin-left:19px; float:left; display:inline;}
#zzzl_left_content #top #pic{width:138px; height:138px; border:1px solid #cccccc; overflow:hidden; float:left; display:inline;}
#zzzl_left_content #top #pic img{width:136px; height:136px; margin:1px;}
#zzzl_left_content #top #pictitle_left{width:70px; height:21px; margin-top:10px; line-height:21px; float:left; display:inline;}
#zzzl_left_content #top #pictitle_left a{color:#3075b9;}
#zzzl_left_content #top #pictitle_right{width:66px; height:21px; margin-top:10px; float:right; display:inline;}
#zzzl_left_content #top #pictitle_right button{width:66px; height:21px; border:0px; background:url('/images/zzzl/btn_bg.jpg') no-repeat; color:#000000;}
#zzzl_left_content .c_title{width:180px; height:30px; margin-top:20px; background:url('/images/zzzl/l_title_bg.jpg') no-repeat; float:left; display:inline;}
#zzzl_left_content .c_title .wz{height:18px; margin-top:6px; margin-left:10px; color:#4990b9; font-weight:bold; font-size:14px; line-height:18px; float:left; display:inline;}
#zzzl_left_content #c_content{width:152px; height:140px; margin-top:10px; margin-left:14px; line-height:20px; float:left; display:inline;}
#zzzl_left_content #c_content a{color:#333333; text-decoration:none;}
#zzzl_left_content #c_c_b{height:16px; margin-top:10px; margin-right:15px; float:right; display:inline;}
#zzzl_left_content #c_c_b a{color:#3075b9;}
#zzzl_left_content #c_b_title{width:158px; height:30px; margin-top:15px; margin-left:11px; background:url('/images/zzzl/l_c_b_title.jpg') no-repeat; float:left; display:inline;}
#zzzl_left_content #c_b_title #wz{height:18px; margin-top:6px; margin-left:10px; line-height:18px; font-size:14px; color:#666666; font-weight:bold; float:left; display:inline;}
#zzzl_left_content .c_b_content{width:158px; height:16px; margin-top:10px; margin-left:21px; line-height:16px; overflow:hidden; float:left; display:inline;}
#zzzl_left_content .c_b_content a{color:#3075b9; text-decoration:none;}
#zzzl_left_content .b_b_left{width:66px; height:90px; margin-top:8px; margin-left:15px; float:left; display:inline;}
#zzzl_left_content .b_b_right{width:66px; height:90px; margin-top:8px; margin-right:15px; float:right; display:inline;}
#zzzl_left_content .b_pic{width:64px; height:64px; border:1px solid #cccccc; float:left; display:inline;}
#zzzl_left_content .b_pic img{width:62px; height:62px; margin:1px;}
#zzzl_left_content .b_pictitle{width:66px; height:20px; margin-top:5px; text-align:center; float:left; display:inline;}
#zzzl_left_content .b_pictitle a{color:#333333;}
#zzzl_right{width:788px; height:941px; margin-top:10px; border:1px solid #bdcbd7; float:right; display:inline;}
#zzzl_right #title{width:788px; height:30px; background:#3891be; line-height:30px; float:left; display:inline;}
#zzzl_right .dq_title{width:125px; height:24px; margin-top:6px; margin-left:27px; line-height:24px; color:#055c99; font-weight:bold; font-size:13px; background:url('/images/zzzl/right_title_bg.jpg') no-repeat; text-align:center; float:left; display:inline;}
#zzzl_right .other_title{height:17px; margin-top:7px; margin-left:60px; line-height:17px; font-size:13px; color:#ffffff; font-size:13px; font-weight:bold; text-align:center; float:left; display:inline;}
.r_content{width:754px; margin-top:20px; margin-left:17px; float:left; display:inline;}
.r_content .r_title{width:754px; height:30px; background:#f0f0f0; float:left; display:inline;}
.r_content .r_title .wz{height:18px; margin-top:6px; margin-left:10px; color:#303082; font-weight:bold; float:left; display:inline;}
.r_content .r_title .subtime{height:16px; margin-top:7px; margin-right:10px; color:#999999; float:right; display:inline;}
.r_content .r_read{width:174px; height:16px; margin-top:10px; line-height:16px; color:#055c99; text-align:right; float:right; display:inline;}
.r_content .r_context{width:716px; height:114px; margin-top:10px; margin-left:19px; line-height:24px; font-size:13px; float:left; display:inline;}
.r_content .r_context a{color:#666666; text-decoration:none;}
.r_content .r_dash{width:740px; height:1px; margin-left:7px; overflow:hidden; background:url('/images/zzzl/r_dash.jpg') no-repeat; float:left; display:inline;}



