body{font-family:宋体; font-size:12px; color:#000; background:#C8E4F0; margin:0px;background:url(/images/admin/bg.jpg) repeat-x;}
#main{width:800px; margin:0 auto;}
#c_main{width:800px; margin-top:40px;border:1px solid;background-color:#fff; padding:20px;}
td input{width:395px;}
