.project
Thumbs.db
.tmp_*
upload/*
*.flv
~*
*.bak
bbs/*
blog/*
ucenter/*
home/*
login/uc_client/*
ey_bbs/*
top.inc.html
bottom.inc.html
tools/*
*.swf
config/config.php
.*~
discuz/*
*.log
data/dbcache/*
