#ibody{width:1000px; margin:0 auto; margin-top:20px;}



a:link{	color:#626262; text-decoration:none;}
a:visited{color:#626262; text-decoration:none;}



#title{height:27px; font-size:18px; text-align:left; font-weight:bold; color:#278AC4; font-family:微软雅黑; float:left; display:inline;}
#title1{height:20px; font-size:12px; line-height:20px; margin-top:6px; margin-left:19px; float:left; display:inline;}


#l_t{width:659px; height:85px; margin-top:8px; margin-left:8px; background-image:url(../../../images/html/investor/l_t.jpg); float:left; display:inline;}
.l_t_t{width:659px; height:40px; float:left; display:inline;}
#l_t_t1{width:120px; height:21px; font-size:13px; color:#666666; font-weight:bold; margin-top:15px; margin-left:15px; float:left; display:inline;}
#l_t_t2{width:500px; height:21px; font-size:16px; color:#246BB0; font-weight:bold; letter-spacing:8px; margin-top:13px; float:left; display:inline;}
#l_t_t3{width:130px; height:21px; font-size:13px; color:#666666; font-weight:bold; margin-top:7px; margin-left:15px; float:left; display:inline;}
#l_t_t4{width:500px; height:40px; float:left; display:inline;}

#l_m{width:659px; height:1260px; margin-top:22px; margin-left:8px; float:left; display:inline;}
#l_m_t{width:657px; height:30px; font-size:14px; color:#333333; font-weight:bold; line-height:30px; text-indent:15px; background-image:url(../../../images/html/investor/l_m_t.jpg); float:left; display:inline;}
#l_m_t1{width:612px; height:171px; font-size:13px; color:#333333; margin-left:10px; margin-top:10px; border-bottom-style:dotted; border-width:1px; float:left; display:inline;}
#l_m_t2{width:426px; height:25px; line-height:25px; float:left; display:inline;}
#l_m_r{width:426px; height:160px; margin-left:45px; float:left; display:inline;}

#r{width:317px; height:1410px; float:left; display:inline;}


#line{width:1000px; height:10px; background-image:url(../../../images/html/investor/line.jpg); float:left; display:inline;}
#d_s{width:293px; height:21px; margin-top:5px; float:left; display:inline;}
#d_b1{width:120px; height:40px; margin-right:60px; margin-bottom:7px; float:right; display:inline;}
#button1{width:114px; height:37px; border:0px; background-image:url(../../../images/html/investor/button1.jpg);}
.picture{width:94px; height:94px; margin-top:5px; margin-left:45px; background-image:url(../../../images/html/investor/picture.jpg); float:left; display:inline; }
#page{width:380px; height:30px; margin-top:85px; margin-left:10px; float:left; display:inline;}
#prev{width:18px; height:13px; margin-top:3px; margin-left:180px; background-image:url(../../../images/html/investor/prev.jpg); float:left; display:inline;}
#num{width:165px; height:20px; font-size:12px; color:#666666; line-height:20px; letter-spacing:11px; text-indent:10px; float:left; display:inline;}
#num1{width:20px; height:20px; font-size:12px; color:#666666; line-height:20px; loat:left; display:inline;}
#next{width:18px; height:13px; margin-top:88px; margin-right:245px; background-image:url(../../../images/html/investor/next.jpg); float:right; display:inline;}