#ibody{width:1000px; margin:0 auto; margin-top:20px;}



a:link{	color:#626262; text-decoration:none;}
a:visited{color:#626262; text-decoration:none;}
#l_t_m_r_t1 a:link{color:#246BB0; text-decoration:none;}
#l_t_m_r_t1 a:visited{color:#246BB0; text-decoration:none;}
#l_t_m_r_t3 a:link{color:#246BB0; text-decoration:underline;}
#l_t_m_r_t3 a:visited{color:#246BB0; text-decoration:underline;}
#r_m_d1_t3 a:link{color:#246BB0;}
#r_m_d1_t3 a:visited{color:#246BB0;}
#r_m_d3_t a:link{color:#999999;}
#r_m_d3_t a:visited{color:#999999;}
#r_m_d3_t2 a:link{color:#11579E; }
#r_m_d3_t2 a:visited{color:#11579E; }
#r_m_d4_t7 a:link{color:#11579E;text-decoration:underline; }
#r_m_d4_t7 a:visited{color:#11579E;text-decoration:underline; }


#title{height:27px; font-size:18px; text-align:left; font-weight:bold; color:#278AC4; font-family:微软雅黑; float:left; display:inline;}
#title1{height:20px; font-size:12px; line-height:20px; margin-top:6px; margin-left:19px; float:left; display:inline;}


#l{width:659px; height:1410px; margin-top:8px; margin-left:8px; float:left; display:inline;}
#l_t{width:659px; height:286px; float:left; display:inline;}
#l_t_t{width:659px; height:23px; background:url(../../../images/html/culture/tar.jpg) no-repeat left center;float:left; display:inline;}
#l_t_t1{width:60px; height:23px; font-size:14px; font-weight:bold; color:#666666; line-height:23px; margin-left:15px; float:left; display:inline;}
#l_t_t2{width:80px; height:23px; font-size:12px; color:#999999; line-height:23px; margin-left:15px; float:left; display:inline;}
#l_t_t3{width:54px; height:10px; margin-top:6px; margin-left:10px; background-image:url(../../../images/html/culture/more.jpg); float:left; display:inline;}
#l_t_m{width:659px; height:250px; float:left; display:inline;}
#l_t_m_r{width:317px; height:204px; margin-top:15px; margin-left:10px; float:left; display:inline;}
#l_t_m_r_t1{width:317px; height:30px; font-size:18px; font-weight:bold; line-height:30px; float:left; display:inline;}
#l_t_m_r_t2{width:317px; height:92px; font-size:12px; color:#333333; line-height:23px; float:left; display:inline;}
#l_t_m_r_t3{width:317px; height:23px; font-size:12px; line-height:23px; text-align:right; float:left; display:inline;}
#l_t_b{width:659px; height:23px; font-size:12px; color:#666666; line-height:23px; float:left; display:inline;}
#l_m{width:659px; height:1100px; float:left; display:inline;}
#l_m_t{width:650px; height:100px; border-bottom-style:dotted; border-width:1px; border-color:#666666; margin-top:15px; float:left; display:inline;}
#l_m_t1{width:650px; height:30px; float:left; display:inline;}
#l_m_t2{width:280px; height:30px; font-size:14px; font-weight:bold; color:#246BB0; margin-left:5px; float:left; display:inline;}
#l_m_t3{width:250px; height:30px; font-size:12px; color:#666666; margin-left:110px; float:left; display:inline;}
#l_m_t4{width:600px; height:52px; font-size:12px; color:#333333; line-height:26px; margin-top:2px; margin-left:20px; float:left; display:inline;}





#r{width:317px; height:1410px; margin-top:8px; float:right; display:inline;}
#r_m_d1{width:317px; height:273px; margin-top:19px; background-image:url(../../../images/html/investor/r_m_d1.jpg); float:left; display:inline;}
#r_m_d1_t{width:317px; height:30px; background-image:url(../../../images/html/investor/r_m_d1_t.jpg); float:left; display:inline;}
#r_m_d1_t1{width:167px; height:30px; font-size:14px; font-weight:bold; text-align:center; line-height:30px; background-image:url(../../../images/html/investor/r_m_d1_t1.jpg); float:left; display:inline;}
#r_m_d1_t2{width:150px; height:30px; font-size:14px; font-weight:bold; color:#999999; text-align:center; line-height:30px; float:left; display:inline;}
#r_m_d1_t3{width:283px; height:32px; font-size:13px; color:#246BB0; line-height:32px; text-indent:10px; margin-left:15px; background:url(../../../images/html/investor/tar.jpg) no-repeat left center; border-bottom-style:dotted; border-width:1px; border-color:#CCCCCC; float:left; display:inline;}
#r_m_d2{width:317px; height:247px; margin-top:18px; background-image:url(../../../images/html/investor/r_m_d2.jpg); float:left; display:inline;}
#r_m_d2_t{width:317px; height:30px; float:left; display:inline;}
#r_m_d2_t1{width:80px; height:30px; font-size:14px; font-weight:bold; text-align:center; line-height:30px; float:left; display:inline;}
#r_m_d2_t2{width:80px; height:30px; font-size:14px; font-weight:bold; color:#999999; text-align:center; line-height:30px; margin-top:1px; margin-left:1px; border-bottom-style:solid; border-left-style:solid; border-width:1px; border-color:#DFDFDF; background-image:url(../../../images/html/investor/r_m_d2_t2.jpg); float:left; display:inline;}
#r_m_d2_t4{width:72px; height:30px; font-size:14px; font-weight:bold; color:#999999; text-align:center; line-height:30px; margin-top:1px; border-bottom-style:solid; border-left-style:solid; border-width:1px; border-color:#DFDFDF; background-image:url(../../../images/html/investor/r_m_d2_t4.jpg); float:left; display:inline;}
#r_m_d3{width:317px; height:263px; margin-top:17px; background-image:url(../../../images/html/investor/r_m_d3.jpg); float:left; display:inline;}
#r_m_d3_t{width:317px; height:30px; font-size:12px; color:#999999; text-indent:270px; line-height:30px; border-bottom-style:solid; border-width:1px; border-color:#DFDFDF; float:left; display:inline;}
#r_m_d3_t1{width:300px; height:38px; font-size:14px; color:#11579E; font-weight:bold; line-height:38px; margin-left:9px; border-bottom-style:dotted; border-width:1px; float:left; display:inline;}
#r_m_d3_t2{width:288px; height:19px; font-size:12px; color:#11579E; line-height:19px; text-indent:10px; margin-top:10px; margin-left:16px; background:url(../../../images/html/investor/tar1.jpg) no-repeat left center; float:left; display:inline;}
#r_m_d4{width:317px; height:288px; margin-top:17px; background-image:url(../../../images/html/investor/r_m_d4.jpg); float:left; display:inline;}
#r_m_d4_t{width:315px; height:30px; font-size:14px; color:#999999; font-weight:bold; line-height:30px; text-indent:10px; margin-top:1px; margin-left:1px; border-bottom-style:solid; border-width:1px; border-color:#DFDFDF; background-image:url(../../../images/html/investor/r_m_d4_t.jpg); float:left; display:inline;}
#r_m_d4_t1{width:298px; height:209px; margin-left:9px; border-bottom-style:dotted; border-width:1px; float:left; display:inline; }
#r_m_d4_t2{width:150px; height:209px; float:left; display:inline;}
#r_m_d4_t3{width:141px; height:23px; font-size:14px; color:#11579E; font-weight:bold; line-height:23px; margin-top:12px; margin-left:14px; float:left; display:inline;}
#r_m_d4_t4{width:141px; height:54px; font-size:12px; color:#666666; line-height:18px; text-indent:10px; margin-top:5px; margin-left:14px; background:url(../../../images/html/investor/tar1.jpg) no-repeat 1% 14%; float:left; display:inline;}
#r_m_d4_t5{width:298px; height:39px;  float:left; display:inline; }
#r_m_d4_t6{width:96px; height:21px; font-size:14px; font-weight:bold; margin-top:15px; margin-left:6px; float:left; display:inline; }
#r_m_d4_t7{width:56px; height:21px; font-size:12px; color:#11579E; margin-top:15px; margin-left:10px; float:left; display:inline; }


#line{width:1000px; height:10px; background-image:url(../../../images/html/investor/line.jpg); float:left; display:inline;}
#d_s{width:293px; height:21px; margin-top:5px; float:left; display:inline;}
#d_s1{width:113px; height:19px; margin-top:13px; float:left; display:inline;}
#d_b1{width:120px; height:40px; margin-right:60px; margin-bottom:7px; float:right; display:inline;}
#button1{width:114px; height:37px; border:0px; background-image:url(../../../images/html/investor/button1.jpg);}
#button2{width:60px; height:28px; margin-top:14px; margin-left:14px; border:0px; background-image:url(../../../images/html/investor/button2.jpg);}
#button3{width:60px; height:28px; margin-top:14px; margin-left:14px; border:0px; background-image:url(../../../images/html/investor/button3.jpg);}
#picture{width:309px; height:202px; margin-top:15px; margin-left:5px; background-image:url(../../../images/html/culture/picture.jpg); float:left; display:inline; }
#picture1{width:296px; height:121px; margin-top:9px; margin-left:12px; background-image:url(../../../images/html/investor/picture1.jpg); float:left; display:inline; }
#picture2{width:139px; height:182px; margin-top:14px; margin-left:5px; background-image:url(../../../images/html/investor/picture2.jpg); float:left; display:inline; }
#page{width:380px; height:30px; margin-top:85px; margin-left:10px; float:left; display:inline;}
#prev{width:18px; height:13px; margin-top:3px; margin-left:180px; background-image:url(../../../images/html/investor/prev.jpg); float:left; display:inline;}
#num{width:165px; height:20px; font-size:12px; color:#666666; line-height:20px; letter-spacing:11px; text-indent:10px; float:left; display:inline;}
#num1{width:20px; height:20px; font-size:12px; color:#666666; line-height:20px; loat:left; display:inline;}
#next{width:18px; height:13px; margin-top:88px; margin-right:245px; background-image:url(../../../images/html/investor/next.jpg); float:right; display:inline;}
#ad{width:317px; height:265px; background-image:url(../../../images/html/investor/ad.jpg); float:right; display:inline;}