#ibody{width:1000px; margin:0 auto; margin-top:20px;}

#title1	a:link{color:#666666; text-decoration:none;}
#title1	a:visited{color:#666666; text-decoration:none;}
#l_l1 a:link{color:#246BB0; text-decoration:underline;}
#l_l1 a:visited{color:#246BB0; text-decoration:underline;}
#r_b_l_t a:link{color:#246BB0; text-decoration:underline;}
#r_b_l_t a:visited{color:#246BB0; text-decoration:underline;}

#l{width:180px; height:675px; margin-top:5px; background-image:url(/images/html/sort/l.jpg); float:left; display:inline;}
#l_t1{width:178px; height:30px; font-size:14px; color:#FFFFFF; line-height:30px; text-indent:30px; margin-top:1px; margin-left:1px; background-image:url(/images/html/sort/l_t1.jpg); float:left; display:inline;}
#l_l1{width:165px; height:20px; font-size:12px; line-height:20px; text-indent:25px; margin-top:5px; margin-left:8px; background:url(/images/html/sort/tar.jpg) no-repeat left center; float:left; display:inline;}
#r{width:790px; height:673px; margin-top:5px; margin-left:20px; border-style:solid; border-width:1px; border-color:#BDCBD7; float:left; display:inline;}
#r_t{width:730px; height:40px; font-size:14px; font-weight:bold; line-height:40px; margin-top:12px; margin-left:20px; float:left; display:inline;}
#r_m{width:701px; height:1px; margin-top:13px; margin-left:31px; border-bottom-style:solid; border-width:1px; border-color:#BDCBD7; float:left; display:inline;}
#r_b{width:788px; height:403px; float:left; display:inline; }
#r_b_l{width:288px; height:380px; margin-top:27px; margin-left:55px; float:left; display:inline; }
#r_b_l_t{width:266px; height:23px; font-size:15px; font-weight:bold; margin-top:5px; float:left; display:inline; }
#r_b_r{width:385px; height:375px; margin-top:27px; margin-left:15px; background-image:url(/images/html/sort/r_b_r.jpg); float:left; display:inline; }



#title{height:27px; font-size:18px; text-align:left; font-weight:bold; color:#278AC4; font-family:微软雅黑; float:left; display:inline;}
#title1{height:20px; font-size:12px; line-height:20px; margin-top:6px; margin-left:19px; float:left; display:inline;}
#line{width:1000px; height:10px; background-image:url(/images/html/news/line.jpg); float:left; display:inline;}
#text{width:100px; height:20px; float:left; display:inline; }
#select1{width:200px; height:19px; margin-top:10px; float:right; display:inline; }
#button{width:46px; height:21px; margin-top:3px; margin-left:10px; background-image:url(/images/html/sort/button.jpg); border:0px; float:left; display:inline; }