body {font-size:12px;  font-family:宋体; font-size:12px; color:#000;  margin:0; padding:0;}

#register{width:840px; margin:0 auto;}
#person{width:825px; margin-top:10px; margin-left:15px; font-size:14px; color:#999999; line-height:30px; float:left; display:inline;}
table{margin-top:20px; margin-left:50px; float:left; display:inline;}
tr{height:40px; line-height:40px; margin-top:0; float:left; display:inline;}
.td1{width:130px; color:#336666; font-size:13px; font-weight:bold; line-height:22px;  float:left; display:inline;}
.td11{width:80px; color:#336666; font-size:13px; font-weight:bold; line-height:22px;  float:left; display:inline;}
.td2{color:#999999; line-height:22px;  float:left; display:inline;}
.td2 a{color:#0066CC; text-decoration:none;}
.td3{width:200px; height:25px; text-align:center; float:left; display:inline;}
.td4{width:60px; line-height:22px; text-align:center;  float:left; display:inline;}
.td5{width:420px; color:#336666; font-size:13px; font-weight:bold; float:left; display:inline;}
.txt{width:190px; height:20px; border:1px solid #CCCCFF;}
.txt1{width:470px; height:22px; margin-left:5px; border:1px solid #CCCCFF; float:left; display:inline;}
.txt2{width:130px; height:22px; margin-left:5px; border:1px solid #CCCCFF;}
.sel1{width:190px; height:22px; }
.sel2{width:90px; height:22px; border:1px solid #CCCCFF;}
.ck{margin-left:40px;}
.display1{float:left; display:inline;}
.display2{color:#00CC00; float:left; display:none;}
.display3{color:#FF0000; float:left; display:none;}
.pic{width:14px; height:14px; float:left; display:inline;}
.pic_content{margin-left:5px; line-height:14px; float:left; display:inline;}
hr{width:840px; height:1px; margin-top:10px; color:#cccccc; float:left; display:inline;}
#yzm_input{line-height:32px; float:left; display:inline;}
.file{height:22px; margin-left:5px; border:1px solid #CCCCFF; background:#fff;}
.upload{width:94px; height:26px; margin-left:30px; line-height:26px; font-size:14px; border:0px; font-weight:bold; background:url('/images/register/upload_bg.jpg') no-repeat; float:left; display:inline;}
#yzm{width:60px; height:25px; margin-left:10px; margin-top:3px; font-size:16px; font-weight:bold; line-height:32px; background:url('/images/register/yzm_bg.jpg') no-repeat; float:left; display:inline;}
button{width:154px; height:26px; line-height:26px; font-size:14px; border:0px; font-weight:bold; background:url('/images/register/button.jpg') no-repeat;}
#submit{width:840px; height:40px; margin-top:40px; line-height:40px; text-align:center; float:left; display:inline;}