body {font-size:12px;  font-family:Arial,宋体; color:#000;  margin:0 auto; padding:0;}
#ibody{width:1000px; margin:0 auto;}

#title{height:27px; font-size:18px; text-align:left; font-weight:bold; color:#278AC4; font-family:微软雅黑; float:left; display:inline;}
#title1{height:20px; font-size:12px; line-height:20px; margin-top:6px; margin-left:19px; float:left; display:inline;}
#title1 a{text-decoration:none;}


#line{width:1000px; height:10px; background-image:url(../../../images/html/user/line.jpg); float:left; display:inline;}

#left{width:180px; height:235px; margin-top:23px; font-weight:bold; background:url("/images/html/user/left_list.gif"); float:left; display:inline;}
#left_top{width:180px; height:42px; font-size:14px; font-weight:bold; line-height:43px; text-align:center; text-indent:15px;   float:left; display:inline;}
.left_list{width:180px; height:47px; margin-top:1px; color:#5B5B5B; font-size:13px; float:left; display:inline;}
.left_list a{color:#5B5B5B; text-decoration:none;}
.left_list2{width:180px; height:47px; margin-top:1px; cursor:pointer; font-size:13px; background:#2F75B9; color:#fff; float:left; display:inline;}
.left_list2 a{color:#fff; text-decoration:none;}
.icon{width:20px; height:20px; margin-left:12px; margin-top:15px; float:left; display:inline;}
.iconb{width:20px; height:20px; margin-left:12px; margin-top:15px; float:left; display:inline;}
.left_text{width:100px; height:20px; cursor:pointer; line-height:20px; margin-left:10px; margin-top:12px; float:left; display:inline;}
.icon2{width:5px; height:10px; margin-top:17px; margin-left:10px; float:left; display:none;}


#right{width:805px; height:604px; margin-top:23px; margin-left:10px; border-right-style:solid; border-bottom-style:solid; border-width:1px; border-color:#CCCCCC; background-image:url(../../../images/html/user/right.jpg); float:left; display:inline;}
#right-title1{width:173px; height:43px; font-size:14px; font-weight:bold; line-height:43px; text-indent:54px; float:left; display:inline;}
#right-title2{width:754px; height:30px; background-image:url(../../../images/html/user/right-title2.jpg); margin-top:26px; margin-left:26px; float:left; display:inline;}
#right-title3{width:107px; height:24px; font-size:13px; color:#055C99; font-weight:bold; text-align:center; line-height:24px; margin-top:6px; margin-left:27px; float:left; display:inline;}
.right-title4{width:107px; height:24px; font-size:13px; color:#FFFFFF; margin-top:6px; margin-left:25px; text-align:center; line-height:20px; font-weight:bold; float:left; display:inline;}
#right-text{width:680px; height:326px; font-size:13px; color:#999999;  margin-top:24px; margin-left:55px; float:left; display:inline;}
#right-next{width:70px; height:25px; margin-top:56px; margin-left:381px; background-image:url(../../../images/html/user/right-next.jpg); float:left; display:inline;}

.li1{width:540px; height:15px; text-indent:10px; margin-top:15px; background:url(../../../images/html/user/tar.jpg) no-repeat 0% 5.7px; float:left; display:inline;}
.li1 a{color:#000000; text-decoration:none;}
.li2{width:134px; text-indent:10px; margin-top:15px; float:left; display:inline;}