#top{width:1002px; height:76px; background:#FFFFFF; float:left; display:inline;}
#topp{width:160px; height:76px; background:url(1.jpg); margin-left:50px; float:left; display:inline;}
#topt1{width:116px; height:16px; margin-left:500px; margin-top:10px; font-size:13px; font-weight:bold; color:3C7FB1; float:left; display:inline;}
#topt2{width:58px; height:16px;margin-left:15px; margin-top:10px; font-size:13px; font-weight:bold; color:3C7FB1; float:left; display:inline;}

#title{width:1002px; height:40px; background:url(2.jpg); float:left; display:inline;}
.top-title1{width:30px; height:18px; margin-left:55px; margin-top:15px; padding-right:20px; font-size:14px; font-family:΢���ź�; border-right:1px solid #FFFFFF; float:left; display:inline;}
.top-title1 a{color:#FFFFFF; text-decoration:none}
.top-title2{height:18px; margin-top:15px; padding-right:20px; padding-left:20px; font-size:14px; font-family:΢���ź�; border-left:1px solid #2B95DD; border-right:1px solid #FFFFFF; float:left; display:inline;}
.top-title2 a{color:#FFFFFF; text-decoration:none}
.top-title3{width:30px; height:18px; margin-top:15px; padding-left:20px; font-size:14px; font-family:΢���ź�; border-left:1px solid #2B95DD; float:left; display:inline;}
.top-title3 a{color:#FFFFFF; text-decoration:none}

#left{width:460px; height:400px; background:#FFFFFF; float:left; display:inline;}
#leftp{width:400px; height:330px; background:url(3.jpg); margin-left:30px; margin-top:20px; float:left; display:inline;}
#font1{margin-top:71px; width:249px;}
.font2{margin-top:20px; width:249px;}
#left-font1{width:62px; height:20px; margin-left:37px; margin-top:71px; font-size:14px; float:left; display:inline;}
#left-font2{width:62px; height:20px; margin-left:37px; margin-top:20px; font-size:14px; float:left; display:inline;}
#left-font3{width:62px; height:20px; margin-left:37px; margin-top:20px; font-size:14px; float:left; display:inline;}
#left-button{width:71px; height:25px; margin-left:100px; margin-top:25px; font-size:14px; color:3C7FB1; background:url(5.gif)no-reapeat;  font-size:14px; font-weight:bold; color:#3C7FB1; float:left; display:inline;}
#left-bottom1{width:66px; height:16px; margin-left:100px; margin-top:30px; font-size:12px; float:left; display:inline;}
#left-bottom1 a{color:#3C7FB1;}
#left-bottom2{width:66px; height:16px; margin-left:20px; margin-top:30px; font-size:12px; float:left; display:inline;}
#left-bottom2 a{color:#3C7FB1;}

#right{width:542px; height:400px; background:#FFFFFF; float:left; display:inline;}
#rightp{width:510px; height:300px; background:url(4.jpg); margin-left:10px; margin-top:20px; float:left; display:inline;}
#right-title{width:220px; height:20px; margin-top:240px; margin-left:50px; font-size:16px; font-weight:bold; color:#444444; float:left; display:inline;}
#right-font{width:320px; height:30px; margin-top:15px; margin-left:50px; font-size:12px; color:#444444; float:left; display:inline;}

#bottom{width:1002px; height:84px; background:#FFFFFF; float:left; display:inline;}
#bottomp{width:840px; height:25px; background:#F2F6F8; margin-left:90px; float:left; display:inline;}
.bottom-title1{margin-left:10px; margin-top:5px; padding-right:15px; font-size:12px; float:left; display:inline;}
.bottom-title1 a{color:#3C7FB1; text-decoration:none}
.bottom-title2{margin-top:4px; padding-right:15px; padding-left:15px; font-size:12px;  border-left:1px solid #3C7FB1; float:left; display:inline;}
.bottom-title2 a{color:#3C7FB1; text-decoration:none}
#bottom-font{width:536px; height:16px; margin-left:305px; margin-top:5px; font-size:12px; color:#666666; float:left; display:inline;}



